version: '3.8'

services:

  minio:
    container_name: 'minio-service'
    image: bitnami/minio:2022.2.7-debian-10-r0
    ports:
      - "9001:9001"
      - "9000:9000"
    environment:
      MINIO_ROOT_USER: minioadmin      # Access Key
      MINIO_ROOT_PASSWORD: minioadmin  # Secret Key

  datashare:
    container_name: 'datashare-service'
    image: mosipid/data-share-service:1.3.0-beta.2
    ports:
      - "8097:8097"
    environment:
      - active_profile_env=inji-default,standalone
      - SPRING_CONFIG_NAME=data-share
      - SPRING_CONFIG_LOCATION=/home/mosip/
    volumes:
      - ./config/data-share-inji-default.properties:/home/mosip/data-share-inji-default.properties
      - ./config/data-share-standalone.properties:/home/mosip/data-share-standalone.properties
    depends_on:
      - minio

  nginx:
    container_name: nginx
    image: nginx:alpine
    ports:
      - '80:80'
    volumes:
      - ./config/mimoto-issuers-config.json:/config/server/mimoto-issuers-config.json
      - ./config/mimoto-trusted-verifiers.json:/config/server/mimoto-trusted-verifiers.json
      - ./config/credential-template.html:/config/server/credential-template.html
      - ./nginx.conf:/etc/nginx/nginx.conf

  postgres:
    image: 'postgres:latest'
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
      - ./mimoto_init.sql:/docker-entrypoint-initdb.d/mimoto_init.sql

  redis:
    image: redis:alpine
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
  mimoto-service:
    container_name: 'Mimoto-Service'
    image: 'mosipdev/mimoto:release-0.17.x'
    user: root
    ports:
      - '8099:8099'
    environment:
      - container_user=mosip
      - active_profile_env=default
      - SPRING_CONFIG_NAME=mimoto
      - SPRING_CONFIG_LOCATION=/home/mosip/
      - oidc_p12_password=dummypassword
      - SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/inji_mimoto # Add Postgres
      - SPRING_REDIS_HOST=redis
      - SPRING_REDIS_PORT=6379
      - GOOGLE_OAUTH_CLIENT_ID=clientId
      - GOOGLE_OAUTH_CLIENT_SECRET=clientSecret
    volumes:
      - ./config/mimoto-default.properties:/home/mosip/mimoto-default.properties
      - ./config/mimoto-issuers-config.json:/home/mosip/mimoto-issuers-config.json
      - ./config/mimoto-trusted-verifiers.json:/home/mosip/mimoto-trusted-verifiers.json
      - ./certs/oidckeystore.p12:/home/mosip/certs/oidckeystore.p12
    depends_on:
      - datashare
      - postgres
      - redis

volumes:
  postgres-data:
  redis-data: