{
    "openapi": "3.0.1",
    "x-stoplight": {
        "id": "5bf5a1n68g4tq"
    },
    "info": {
        "title": "mimoto",
        "description": "mimoto",
        "license": {
            "name": "Mosip",
            "url": "https://docs.mosip.io/platform/license"
        },
        "version": "1.0"
    },
    "servers": [
        {
            "url": "https://api.collab.mosip.net/v1/mimoto",
            "description": "For Swagger"
        }
    ],
    "paths": {
        "/req/otp": {
            "post": {
                "operationId": "otpRequest",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AppOTPRequestDTO"
                            },
                            "examples": {
                                "example-1": {
                                    "value": {
                                        "individualId": "1289358704",
                                        "individualIdType": "UIN",
                                        "otpChannel": [
                                            "EMAIL",
                                            "PHONE"
                                        ],
                                        "transactionID": "1234567890"
                                    }
                                }
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "string"
                                        },
                                        "version": {
                                            "type": "string"
                                        },
                                        "str": {
                                            "type": "string",
                                            "nullable": true
                                        },
                                        "responsetime": {
                                            "type": "string",
                                            "format": "date-time",
                                            "nullable": true
                                        },
                                        "metadata": {
                                            "type": "object",
                                            "nullable": true
                                        },
                                        "response": {
                                            "type": "object",
                                            "properties": {
                                                "maskedMobile": {
                                                    "type": "string"
                                                },
                                                "maskedEmail": {
                                                    "type": "string"
                                                }
                                            }
                                        },
                                        "errors": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "errorCode": {
                                                        "type": "string"
                                                    },
                                                    "errorMessage": {
                                                        "type": "string"
                                                    }
                                                }
                                            },
                                            "nullable": true
                                        }
                                    },
                                    "x-examples": {
                                        "Example 1": {
                                            "id": "mosip.identity.otp.internal",
                                            "version": "1.0",
                                            "str": null,
                                            "responsetime": null,
                                            "metadata": null,
                                            "response": {
                                                "maskedMobile": "XXXXXX6677",
                                                "maskedEmail": "XXuXXrXX5XX9@gmail.com"
                                            },
                                            "errors": null
                                        }
                                    }
                                },
                                "examples": {
                                    "example-1": {
                                        "value": {
                                            "id": "mosip.identity.otp.internal",
                                            "version": "1.0",
                                            "str": null,
                                            "responsetime": null,
                                            "metadata": null,
                                            "response": {
                                                "maskedMobile": "XXXXXX6677",
                                                "maskedEmail": "XXuXXrXX5XX9@gmail.com"
                                            },
                                            "errors": null
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "description": "Request new otp",
                "tags": [
                    "Credential Download - OTP Flow"
                ],
                "summary": "Generate Credential - Request Otp"
            }
        },
        "/verifiers": {
            "get": {
                "operationId": "getAllTrustedVerifiers",
                "tags": [
                    "Verifiers"
                ],
                "description": "This API retrieves all trusted verifiers for Inji Wallet.",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "verifiers": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "client_id": {
                                                        "type": "string"
                                                    },
                                                    "redirect_uris": {
                                                        "type": "array",
                                                        "items": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "response_uris": {
                                                        "type": "array",
                                                        "items": {
                                                            "type": "string"
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                },
                                "examples": {
                                    "Success response": {
                                        "value": {
                                            "verifiers": [
                                                {
                                                    "client_id": "https://injiverify.collab.mosip.net",
                                                    "redirect_uris": [
                                                        "https://injiverify.collab.mosip.net/redirect"
                                                    ],
                                                    "response_uris": [
                                                        "https://injiverify.collab.mosip.net/redirect"
                                                    ]
                                                }
                                            ]
                                        }
                                    },
                                    "Failure response": {
                                        "value": {
                                            "id": null,
                                            "version": "v1",
                                            "responsetime": "2022-10-31T05:07:34.789Z",
                                            "metadata": null,
                                            "response": null,
                                            "errors": [
                                                {
                                                    "errorCode": "VERIFIER-API-26",
                                                    "errorMessage": "API not accessible failure"
                                                }
                                            ]
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/get-token/{issuer}": {
            "post": {
                "tags": [
                    "Credentials Download"
                ],
                "summary": "Retrieve accessToken for OIDC flow",
                "description": "This endpoint allows you to retrieve the access token in exchange for the authorization code.",
                "operationId": "getToken",
                "parameters": [
                    {
                        "name": "arg0",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "issuer",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "string"
                                        },
                                        "version": {
                                            "type": "string"
                                        },
                                        "str": {
                                            "type": "string",
                                            "nullable": true
                                        },
                                        "responsetime": {
                                            "type": "string",
                                            "format": "date-time"
                                        },
                                        "metadata": {
                                            "type": "object",
                                            "nullable": true
                                        },
                                        "response": {
                                            "type": "object",
                                            "properties": {
                                                "access_token": {
                                                    "type": "string"
                                                },
                                                "token_type": {
                                                    "type": "string"
                                                },
                                                "expires_in": {
                                                    "type": "integer"
                                                },
                                                "scope": {
                                                    "type": "string"
                                                },
                                                "refresh_token": {
                                                    "type": "string",
                                                    "nullable": true
                                                }
                                            }
                                        },
                                        "errors": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "errorCode": {
                                                        "type": "string"
                                                    },
                                                    "errorMessage": {
                                                        "type": "string"
                                                    }
                                                }
                                            },
                                            "nullable": true
                                        }
                                    }
                                },
                                "examples": {
                                    "Success response": {
                                        "value": {
                                            "id": "mosip.mimoto.issuers",
                                            "version": "v1",
                                            "str": null,
                                            "responsetime": "2024-04-25T05:56:55.890Z",
                                            "metadata": null,
                                            "response": {
                                                "access_token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...",
                                                "token_type": "bearer",
                                                "expires_in": 3600,
                                                "scope": "mosip_identity_vc_ldp",
                                                "refresh_token": "xyz123"
                                            },
                                            "errors": []
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "string"
                                        },
                                        "version": {
                                            "type": "string"
                                        },
                                        "str": {
                                            "type": "string",
                                            "nullable": true
                                        },
                                        "responsetime": {
                                            "type": "string",
                                            "format": "date-time"
                                        },
                                        "metadata": {
                                            "type": "object",
                                            "nullable": true
                                        },
                                        "response": {
                                            "type": "object",
                                            "nullable": true
                                        },
                                        "errors": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "errorCode": {
                                                        "type": "string"
                                                    },
                                                    "errorMessage": {
                                                        "type": "string"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                },
                                "examples": {
                                    "Failure response": {
                                        "value": {
                                            "id": null,
                                            "version": "v1",
                                            "str": null,
                                            "responsetime": "2022-10-31T05:07:34.789Z",
                                            "metadata": null,
                                            "response": null,
                                            "errors": [
                                                {
                                                    "errorCode": "RESIDENT-APP-26",
                                                    "errorMessage": "Api not accessible failure"
                                                }
                                            ]
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/credentialshare/request": {
            "post": {
                "operationId": "request",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "individualId": {
                                        "type": "string"
                                    },
                                    "otp": {
                                        "type": "string"
                                    },
                                    "transactionID": {
                                        "type": "string"
                                    },
                                    "user": {
                                        "type": "string"
                                    }
                                },
                                "x-examples": {
                                    "Example 1": {
                                        "individualId": "2057135194",
                                        "otp": "111111",
                                        "transactionID": "1234567890",
                                        "user": "mono"
                                    }
                                }
                            },
                            "examples": {
                                "example-1": {
                                    "value": {
                                        "individualId": "2057135194",
                                        "otp": "111111",
                                        "transactionID": "1234567890",
                                        "user": "mono"
                                    }
                                }
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "string"
                                        },
                                        "version": {
                                            "type": "string"
                                        },
                                        "str": {
                                            "type": "string",
                                            "nullable": true
                                        },
                                        "responsetime": {
                                            "type": "string",
                                            "format": "date-time",
                                            "nullable": true
                                        },
                                        "metadata": {
                                            "type": "object",
                                            "nullable": true
                                        },
                                        "response": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "string"
                                                },
                                                "requestId": {
                                                    "type": "string"
                                                }
                                            }
                                        },
                                        "errors": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "errorCode": {
                                                        "type": "string"
                                                    },
                                                    "errorMessage": {
                                                        "type": "string"
                                                    }
                                                }
                                            },
                                            "nullable": true
                                        }
                                    },
                                    "x-examples": {
                                        "Example 1": {
                                            "id": "mosip.resident.vid",
                                            "version": "v1",
                                            "str": null,
                                            "responsetime": "2022-10-31T05:08:14.846Z",
                                            "metadata": null,
                                            "response": {
                                                "id": "2057135194",
                                                "requestId": "2bc3bb7f-6156-46d1-ae03-bf7b76e0c257"
                                            },
                                            "errors": null
                                        }
                                    }
                                },
                                "examples": {
                                    "Success response": {
                                        "value": {
                                            "id": "mosip.resident.vid",
                                            "version": "v1",
                                            "str": null,
                                            "responsetime": "2022-10-31T05:08:14.846Z",
                                            "metadata": null,
                                            "response": {
                                                "id": "2057135194",
                                                "requestId": "2bc3bb7f-6156-46d1-ae03-bf7b76e0c257"
                                            },
                                            "errors": null
                                        }
                                    },
                                    "Failure response": {
                                        "value": {
                                            "id": null,
                                            "version": "v1",
                                            "str": null,
                                            "responsetime": "2022-10-31T05:07:34.789Z",
                                            "metadata": null,
                                            "response": null,
                                            "errors": [
                                                {
                                                    "errorCode": "RES-SER-422",
                                                    "errorMessage": "Input transactionID does not match transactionID of OTP Request"
                                                }
                                            ]
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "description": "Credential request",
                "tags": [
                    "Credential Download - OTP Flow"
                ],
                "summary": "Generate Credential -  request new credential"
            }
        },
        "/credentialshare/request/status/{requestId}": {
            "get": {
                "operationId": "requestStatus",
                "parameters": [
                    {
                        "name": "requestId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "response": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "string"
                                                },
                                                "requestId": {
                                                    "type": "string"
                                                },
                                                "statusCode": {
                                                    "type": "string"
                                                },
                                                "errors": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {}
                                                    }
                                                }
                                            }
                                        }
                                    },
                                    "x-examples": {
                                        "Example 1": {
                                            "response": {
                                                "id": "2057135194",
                                                "requestId": "2bc3bb7f-6156-46d1-ae03-bf7b76e0c257",
                                                "statusCode": "ISSUED"
                                            },
                                            "errors": []
                                        }
                                    }
                                },
                                "examples": {
                                    "success response": {
                                        "value": {
                                            "response": {
                                                "id": "2057135194",
                                                "requestId": "2bc3bb7f-6156-46d1-ae03-bf7b76e0c257",
                                                "statusCode": "ISSUED"
                                            },
                                            "errors": []
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "description": "Credential request status",
                "tags": [
                    "Credential Download - OTP Flow"
                ],
                "summary": "Generate Credential -  Check Status of Credential Share"
            },
            "parameters": [
                {
                    "schema": {
                        "type": "string"
                    },
                    "name": "requestId",
                    "in": "path",
                    "required": true,
                    "description": "The credential request id"
                }
            ]
        },
        "/credentialshare/download": {
            "post": {
                "operationId": "download",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CredentialDownloadResponseDTO"
                                },
                                "examples": {
                                    "success response": {
                                        "value": {
                                            "credential": {
                                                "biometrics": {
                                                    "face": "<face data>"
                                                },
                                                "province": [
                                                    {
                                                        "language": "eng",
                                                        "value": "Kenitra"
                                                    },
                                                    {
                                                        "language": "kan",
                                                        "value": "ಕೆನಿತ್ರಾ"
                                                    }
                                                ],
                                                "phone": "4567897654",
                                                "city": [
                                                    {
                                                        "language": "eng",
                                                        "value": "Kenitra"
                                                    },
                                                    {
                                                        "language": "kan",
                                                        "value": "ಕೆನಿತ್ರಾ"
                                                    }
                                                ],
                                                "postalCode": "14022",
                                                "fullName": [
                                                    {
                                                        "language": "eng",
                                                        "value": "kimgḻbb"
                                                    },
                                                    {
                                                        "language": "kan",
                                                        "value": "ಕಿಮ್ಗ್ೞ್ಬ್ಬ್"
                                                    }
                                                ],
                                                "region": [
                                                    {
                                                        "language": "eng",
                                                        "value": "Rabat Sale Kenitra"
                                                    },
                                                    {
                                                        "language": "kan",
                                                        "value": "ರಬತ್ ಸಲೆ ಕೆನಿತ್ರ"
                                                    }
                                                ]
                                            },
                                            "verifiableCredential": {
                                                "@context": [
                                                    "https://www.w3.org/2018/credentials/v1",
                                                    "http://localhost:8088/.well-known/mosip-context.json",
                                                    {
                                                        "sec": "https://w3id.org/security#"
                                                    }
                                                ],
                                                "credentialSubject": {
                                                    "biometrics": "<biometrics>",
                                                    "province": [
                                                        {
                                                            "language": "eng",
                                                            "value": "Kenitra"
                                                        },
                                                        {
                                                            "language": "kan",
                                                            "value": "ಕೆನಿತ್ರಾ"
                                                        }
                                                    ],
                                                    "city": [
                                                        {
                                                            "language": "eng",
                                                            "value": "Kenitra"
                                                        },
                                                        {
                                                            "language": "kan",
                                                            "value": "ಕೆನಿತ್ರಾ"
                                                        }
                                                    ],
                                                    "phone": "4567897654",
                                                    "postalCode": "14022",
                                                    "fullName": [
                                                        {
                                                            "language": "eng",
                                                            "value": "kimgḻbb"
                                                        },
                                                        {
                                                            "language": "kan",
                                                            "value": "ಕಿಮ್ಗ್ೞ್ಬ್ಬ್"
                                                        }
                                                    ],
                                                    "dateOfBirth": "1990/01/01",
                                                    "id": "http://credential.idrepo/credentials/2057135194",
                                                    "vcVer": "VC-V1",
                                                    "UIN": "2057135194",
                                                    "region": [
                                                        {
                                                            "language": "eng",
                                                            "value": "Rabat Sale Kenitra"
                                                        },
                                                        {
                                                            "language": "kan",
                                                            "value": "ರಬತ್ ಸಲೆ ಕೆನಿತ್ರ"
                                                        }
                                                    ],
                                                    "email": "santhosdss14@gmail.com"
                                                },
                                                "id": "http://credential.idrepo/credentials/a3afcf8c-e5a6-4782-9ce5-84740ec2f332",
                                                "issuanceDate": "2022-10-31T05:08:26.980Z",
                                                "issuer": "http://localhost:8088/.well-known/controller.json",
                                                "proof": {
                                                    "type": "RsaSignature2018",
                                                    "created": "2022-10-31T05:08:26Z",
                                                    "proofPurpose": "assertionMethod",
                                                    "verificationMethod": "http://localhost:8088/.well-known/public-key.json",
                                                    "jws": "<The jws signature>"
                                                },
                                                "type": [
                                                    "VerifiableCredential",
                                                    "MOSIPVerifiableCredential"
                                                ]
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "description": "download VC",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "individualId": {
                                        "type": "string"
                                    },
                                    "requestId": {
                                        "type": "string"
                                    }
                                },
                                "x-examples": {
                                    "Example 1": {
                                        "individualId": "2057135194",
                                        "requestId": "2bc3bb7f-6156-46d1-ae03-bf7b76e0c257"
                                    }
                                }
                            },
                            "examples": {
                                "example-1": {
                                    "value": {
                                        "individualId": "2057135194",
                                        "requestId": "2bc3bb7f-6156-46d1-ae03-bf7b76e0c257"
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Credential Download - OTP Flow"
                ],
                "summary": "Generate Credential -  Download Credential"
            }
        },
        "/credentialshare/callback/notify": {
            "post": {
                "operationId": "handleSubscribeEvent",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/EventModel"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GenericResponseDTO"
                                }
                            }
                        }
                    }
                },
                "description": "callback uri used by websub to notify",
                "summary": "Callback API - Notify when credential is ready",
                "tags": [
                    "Credential Download - OTP Flow"
                ],
                "x-internal": true
            }
        },
        "/binding-otp": {
            "post": {
                "operationId": "bindingOtpGenerate",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "x-examples": {
                                    "Example 1": {
                                        "individualId": "2057135194",
                                        "individualIdType": "UIN",
                                        "otp": "111111",
                                        "vidType": "PERPETUAL",
                                        "transactionID": "1234567890"
                                    }
                                },
                                "properties": {
                                    "requestTime": {
                                        "type": "string"
                                    },
                                    "request": {
                                        "type": "object",
                                        "properties": {
                                            "individualId": {
                                                "type": "string",
                                                "description": "The individual id. UIN or VID."
                                            },
                                            "otpChannels": {
                                                "type": "array",
                                                "description": "Otp channels using which user will be notified, for example - EMAIL, PHONE",
                                                "items": {}
                                            }
                                        }
                                    }
                                }
                            },
                            "examples": {
                                "Wallet binding otp request example": {
                                    "value": {
                                        "requestTime": "{{$isoTimestamp}}",
                                        "request": {
                                            "individualId": "3816083254",
                                            "otpChannels": [
                                                "EMAIL"
                                            ]
                                        }
                                    }
                                }
                            }
                        },
                        "application/xml": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "individualId": {
                                        "type": "string"
                                    },
                                    "individualIdType": {
                                        "type": "string"
                                    },
                                    "otp": {
                                        "type": "string"
                                    },
                                    "vidType": {
                                        "type": "string"
                                    },
                                    "transactionID": {
                                        "type": "string"
                                    }
                                },
                                "x-examples": {
                                    "Example 1": {
                                        "individualId": "2057135194",
                                        "individualIdType": "UIN",
                                        "otp": "111111",
                                        "vidType": "PERPETUAL",
                                        "transactionID": "1234567890"
                                    }
                                }
                            },
                            "examples": {
                                "example-1": {
                                    "value": "{\n    \"individualId\": \"2057135194\",\n    \"individualIdType\": \"UIN\",\n    \"otp\": \"111111\",\n    \"vidType\": \"PERPETUAL\",\n    \"transactionID\": \"1234567890\"\n}"
                                }
                            }
                        },
                        "multipart/form-data": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "requestTime": {
                                        "type": "string"
                                    },
                                    "request": {
                                        "type": "object",
                                        "properties": {
                                            "individualId": {
                                                "type": "string"
                                            },
                                            "otpChannels": {
                                                "type": "array",
                                                "items": {}
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "required": true,
                    "description": ""
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "x-examples": {
                                        "Example 1": {
                                            "id": null,
                                            "version": null,
                                            "str": null,
                                            "responsetime": null,
                                            "metadata": null,
                                            "response": {
                                                "maskedEmail": "mock",
                                                "maskedMobile": "mock"
                                            },
                                            "errors": []
                                        }
                                    },
                                    "properties": {
                                        "id": {
                                            "type": "string"
                                        },
                                        "version": {
                                            "type": "string"
                                        },
                                        "responsetime": {
                                            "type": "string"
                                        },
                                        "metadata": {
                                            "type": "object"
                                        },
                                        "response": {
                                            "type": "object",
                                            "properties": {
                                                "maskedEmail": {
                                                    "type": "string",
                                                    "description": "The masked email of user"
                                                },
                                                "maskedMobile": {
                                                    "type": "string",
                                                    "description": "the masked mobile of user."
                                                }
                                            }
                                        }
                                    }
                                },
                                "examples": {
                                    "Success response": {
                                        "value": {
                                            "id": null,
                                            "version": null,
                                            "str": null,
                                            "responsetime": null,
                                            "metadata": null,
                                            "response": {
                                                "maskedEmail": "mono@mono.com",
                                                "maskedMobile": "7897897890"
                                            },
                                            "errors": []
                                        }
                                    },
                                    "Failure response": {
                                        "value": {
                                            "id": "mosip.resident.vid",
                                            "version": "v1",
                                            "str": null,
                                            "responsetime": "2022-10-31T04:57:10.792Z",
                                            "metadata": null,
                                            "response": null,
                                            "errors": [
                                                {
                                                    "errorCode": "RES-SER-422",
                                                    "errorMessage": "Invalid UIN"
                                                }
                                            ]
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "summary": "Wallet Binding - Generate Otp",
                "tags": [
                    "Wallet Binding"
                ],
                "description": "This api is used to generate otp for wallet binding.\nThis api is used as a proxy to call [Identity Provider - Send Binding OTP Endpoint](https://mosip.stoplight.io/docs/identity-provider/a34e5371d4876-send-binding-otp-endpoint-draft) api internally."
            }
        },
        "/wallet-binding": {
            "post": {
                "operationId": "walletBinding",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "x-examples": {
                                    "Example 1": {
                                        "requestTime": "{{$isoTimestamp}}",
                                        "request": {
                                            "authFactorType": "WLA",
                                            "format": "jwt",
                                            "individualId": "3816083254",
                                            "publicKey": "-----BEGIN RSA PUBLIC KEY-----\nMIICCgKCAgEAxo8hdrLl6nXyPSeSJu8xgmBBwVutacZS57rmIlHeKJfjYhKLT51v\n0k2IQqN2v6A3HOZqzKXh41p3RrxdSndkqqHwS0BLEVPNpKqYoEbe0tUICDpDSFaa\n7w87Z/OSGrw8bKpxmUT0xZ70+DGPhnWlMvPV5xenG1bVtf/vEq7cwQei1iNbNQRb\nqw/57e9LgmXdmbh/v5XOllT7rlUFmVFm4V4J3u6NH9iOPGlIKTplBlYyxlx6ayaR\n09Z6z4RJICG1MIipCv5qJwuzzXXpBja6gEG4xsN5K4W6b5GLt3IuzMMaQmReseRR\n46s53vBp7aqq1wrjs/CZ1SZqZ5ZG/nUchjTv+Nir0vPR9acvPB5j5qDgfdVz2sT/\nYL1HoeFPOIgcY1ydz+tUBm9F4AMCMZa7GbEmtAIWvxlQp6emo50/opdb51B3Teh3\neVQ+JqYYhOpuTEv0uHfhonXEsNfpGyttjR0FSAH2c6mI6UULi/PfLgcvKuqkhE+7\nlB0SFd852C993GqsY7qfxW1GvJpXYRvo6oRoFO8sj+St36MkmzJbm56AQn/9KWd5\nRLh13xrIUVRnW48y/Blchw/C68Ez1bmCyDeVe1WBPwel0zPl62jCtKawzCQiZcTL\n/ejmlKFHKQd980MwWN18OVakKU52CkO0NT+9ovgi0TRfLKvG6PQ1qGECAwEAAQ==\n-----END RSA PUBLIC KEY-----\n",
                                            "challengeList": [
                                                {
                                                    "authFactorType": "OTP",
                                                    "challenge": "111111",
                                                    "format": "alpha-numeric"
                                                }
                                            ]
                                        }
                                    }
                                },
                                "properties": {
                                    "requestTime": {
                                        "type": "string",
                                        "description": "The request time"
                                    },
                                    "request": {
                                        "type": "object",
                                        "properties": {
                                            "authFactorType": {
                                                "type": "string",
                                                "description": "Auth factor type to be binded for the provided key."
                                            },
                                            "format": {
                                                "type": "string",
                                                "description": "Format of the auth factor type supported in the wallet app. Right now Inji supports only jwt."
                                            },
                                            "individualId": {
                                                "type": "string",
                                                "description": "The individual id. UIN or VID.\n"
                                            },
                                            "publicKey": {
                                                "type": "string",
                                                "description": "The public key of the wallet app."
                                            },
                                            "challengeList": {
                                                "type": "array",
                                                "items": {
                                                    "type": "object",
                                                    "properties": {
                                                        "authFactorType": {
                                                            "type": "string",
                                                            "description": "Defines the type of auth challenge. It should be same as authfactor.type (oauth-details response)."
                                                        },
                                                        "challenge": {
                                                            "type": "string",
                                                            "description": "Actual challenge as string. A jwt in case of inji."
                                                        },
                                                        "format": {
                                                            "type": "string",
                                                            "description": "Format of the challenge provided."
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            },
                            "examples": {
                                "Wallet binding otp request example": {
                                    "value": {
                                        "requestTime": "2023-01-17T05:38:41.869Z",
                                        "request": {
                                            "authFactorType": "WLA",
                                            "format": "jwt",
                                            "individualId": "3816083254",
                                            "publicKey": "-----BEGIN RSA PUBLIC KEY-----\nMIICCgKCAgEAxo8hdrLl6nXyPSeSJu8xgmBBwVutacZS57rmIlHeKJfjYhKLT51v\n0k2IQqN2v6A3HOZqzKXh41p3RrxdSndkqqHwS0BLEVPNpKqYoEbe0tUICDpDSFaa\n7w87Z/OSGrw8bKpxmUT0xZ70+DGPhnWlMvPV5xenG1bVtf/vEq7cwQei1iNbNQRb\nqw/57e9LgmXdmbh/v5XOllT7rlUFmVFm4V4J3u6NH9iOPGlIKTplBlYyxlx6ayaR\n09Z6z4RJICG1MIipCv5qJwuzzXXpBja6gEG4xsN5K4W6b5GLt3IuzMMaQmReseRR\n46s53vBp7aqq1wrjs/CZ1SZqZ5ZG/nUchjTv+Nir0vPR9acvPB5j5qDgfdVz2sT/\nYL1HoeFPOIgcY1ydz+tUBm9F4AMCMZa7GbEmtAIWvxlQp6emo50/opdb51B3Teh3\neVQ+JqYYhOpuTEv0uHfhonXEsNfpGyttjR0FSAH2c6mI6UULi/PfLgcvKuqkhE+7\nlB0SFd852C993GqsY7qfxW1GvJpXYRvo6oRoFO8sj+St36MkmzJbm56AQn/9KWd5\nRLh13xrIUVRnW48y/Blchw/C68Ez1bmCyDeVe1WBPwel0zPl62jCtKawzCQiZcTL\n/ejmlKFHKQd980MwWN18OVakKU52CkO0NT+9ovgi0TRfLKvG6PQ1qGECAwEAAQ==\n-----END RSA PUBLIC KEY-----\n",
                                            "challengeList": [
                                                {
                                                    "authFactorType": "OTP",
                                                    "challenge": "111111",
                                                    "format": "alpha-numeric"
                                                }
                                            ]
                                        }
                                    }
                                }
                            }
                        },
                        "application/xml": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "individualId": {
                                        "type": "string"
                                    },
                                    "individualIdType": {
                                        "type": "string"
                                    },
                                    "otp": {
                                        "type": "string"
                                    },
                                    "vidType": {
                                        "type": "string"
                                    },
                                    "transactionID": {
                                        "type": "string"
                                    }
                                },
                                "x-examples": {
                                    "Example 1": {
                                        "individualId": "2057135194",
                                        "individualIdType": "UIN",
                                        "otp": "111111",
                                        "vidType": "PERPETUAL",
                                        "transactionID": "1234567890"
                                    }
                                }
                            },
                            "examples": {
                                "example-1": {
                                    "value": "{\n    \"individualId\": \"2057135194\",\n    \"individualIdType\": \"UIN\",\n    \"otp\": \"111111\",\n    \"vidType\": \"PERPETUAL\",\n    \"transactionID\": \"1234567890\"\n}"
                                }
                            }
                        },
                        "multipart/form-data": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "requestTime": {
                                        "type": "string"
                                    },
                                    "request": {
                                        "type": "object",
                                        "properties": {
                                            "individualId": {
                                                "type": "string"
                                            },
                                            "otpChannels": {
                                                "type": "array",
                                                "items": {}
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "required": true,
                    "description": ""
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "x-examples": {
                                        "Example 1": {
                                            "id": null,
                                            "version": null,
                                            "str": null,
                                            "responsetime": null,
                                            "metadata": null,
                                            "response": {
                                                "certificate": "-----BEGIN CERTIFICATE-----\nMIIDqjCCApKgAwIBAgIGAYW+PCLUMA0GCSqGSIb3DQEBCwUAMBMxETAPBgNVBAMT\nCE1vY2stSURBMB4XDTIzMDExNzA1MzgxMFoXDTIzMDEyNzA1MzgxMFowGTEXMBUG\nA1UEAxMOTW9jay11c2VyLW5hbWUwggIiMA0GCSqGSIb3DQEBAQUAA4ICDwAwggIK\nAoICAQDGjyF2suXqdfI9J5Im7zGCYEHBW61pxlLnuuYiUd4ol+NiEotPnW/STYhC\no3a/oDcc5mrMpeHjWndGvF1Kd2SqofBLQEsRU82kqpigRt7S1QgIOkNIVprvDztn\n85IavDxsqnGZRPTFnvT4MY+GdaUy89XnF6cbVtW1/+8SrtzBB6LWI1s1BFurD/nt\n70uCZd2ZuH+/lc6WVPuuVQWZUWbhXgne7o0f2I48aUgpOmUGVjLGXHprJpHT1nrP\nhEkgIbUwiKkK/monC7PNdekGNrqAQbjGw3krhbpvkYu3ci7MwxpCZF6x5FHjqzne\n8GntqqrXCuOz8JnVJmpnlkb+dRyGNO/42KvS89H1py88HmPmoOB91XPaxP9gvUeh\n4U84iBxjXJ3P61QGb0XgAwIxlrsZsSa0Aha/GVCnp6ajnT+il1vnUHdN6Hd5VD4m\nphiE6m5MS/S4d+GidcSw1+kbK22NHQVIAfZzqYjpRQuL898uBy8q6qSET7uUHRIV\n3znYL33caqxjup/FbUa8mldhG+jqhGgU7yyP5K3foySbMlubnoBCf/0pZ3lEuHXf\nGshRVGdbjzL8GVyHD8LrwTPVuYLIN5V7VYE/B6XTM+XraMK0prDMJCJlxMv96OaU\noUcpB33zQzBY3Xw5VqQpTnYKQ7Q1P72i+CLRNF8sq8bo9DWoYQIDAQABMA0GCSqG\nSIb3DQEBCwUAA4IBAQAmbgQcW22AnrP/GH5lzt+Fy6t20lxqpMDIc3rCO6dzXMCR\n9ocjwLj7E243jGFbhHzC8637qOC8b5bYLZL2ND9ZehSu0qdz/0U0Kwt81rj/lihk\nvhD6xgx8g966AMZcZ0iQncyTzbdEukq6jMAtYfWvAu41rL0H5qvIFvxLHGOoxOYV\n0XZslWTC8B8TB3hzQ+HHexxSZbLSbB+sHFShubOlqqxE/zMj2O+c2FGYSOKlbTXi\nTd4m1WY/eJ4+0XjvEAAMZqLSLtnF5U1POz2onnk0u/lzsRnpxiqJY2++1WmCnuAT\nwDIwNEeAPotfm6tM1TjWuwakYrbSY7Ru0YjaFC1S\n-----END CERTIFICATE-----\n",
                                                "encryptedWalletBindingId": "qeCUuKEjRDUiDHfbYAsHv5L4RCiHe_KE7eKKjpw7jIo",
                                                "expireDateTime": "2023-01-27T05:38:10.000Z",
                                                "thumbprint": "rOe3ifBa0uIuKfArURKRKK5psE8YVdWxXbQoDXAvntk",
                                                "keyId": "1673933890260"
                                            },
                                            "errors": []
                                        }
                                    },
                                    "properties": {
                                        "version": {
                                            "type": "string",
                                            "nullable": true
                                        },
                                        "id": {
                                            "type": "string",
                                            "nullable": true
                                        },
                                        "responsetime": {
                                            "type": "string",
                                            "nullable": true
                                        },
                                        "metadata": {
                                            "type": "string",
                                            "nullable": true
                                        },
                                        "response": {
                                            "type": "object",
                                            "properties": {
                                                "certificate": {
                                                    "type": "string",
                                                    "description": "Server certificate after successful binding. This certificate will be stored in wallet app."
                                                },
                                                "encryptedWalletBindingId": {
                                                    "type": "string",
                                                    "description": "the wallet binding id in encrypted format. The wallet app will associate the requested credential with this id."
                                                },
                                                "expireDateTime": {
                                                    "type": "string",
                                                    "description": "expiry date time of the binding."
                                                },
                                                "thumbprint": {
                                                    "type": "string",
                                                    "description": "the certificate thumbprint."
                                                },
                                                "keyId": {
                                                    "type": "string",
                                                    "description": "the certificate key id."
                                                }
                                            }
                                        },
                                        "errors": {
                                            "type": "array",
                                            "items": {
                                                "type": "object"
                                            }
                                        }
                                    }
                                },
                                "examples": {
                                    "Success response": {
                                        "value": {
                                            "id": null,
                                            "version": null,
                                            "str": null,
                                            "responsetime": null,
                                            "metadata": null,
                                            "response": {
                                                "certificate": "-----BEGIN CERTIFICATE-----\nMIIDqjCCApKgAwIBAgIGAYW+PCLUMA0GCSqGSIb3DQEBCwUAMBMxETAPBgNVBAMT\nCE1vY2stSURBMB4XDTIzMDExNzA1MzgxMFoXDTIzMDEyNzA1MzgxMFowGTEXMBUG\nA1UEAxMOTW9jay11c2VyLW5hbWUwggIiMA0GCSqGSIb3DQEBAQUAA4ICDwAwggIK\nAoICAQDGjyF2suXqdfI9J5Im7zGCYEHBW61pxlLnuuYiUd4ol+NiEotPnW/STYhC\no3a/oDcc5mrMpeHjWndGvF1Kd2SqofBLQEsRU82kqpigRt7S1QgIOkNIVprvDztn\n85IavDxsqnGZRPTFnvT4MY+GdaUy89XnF6cbVtW1/+8SrtzBB6LWI1s1BFurD/nt\n70uCZd2ZuH+/lc6WVPuuVQWZUWbhXgne7o0f2I48aUgpOmUGVjLGXHprJpHT1nrP\nhEkgIbUwiKkK/monC7PNdekGNrqAQbjGw3krhbpvkYu3ci7MwxpCZF6x5FHjqzne\n8GntqqrXCuOz8JnVJmpnlkb+dRyGNO/42KvS89H1py88HmPmoOB91XPaxP9gvUeh\n4U84iBxjXJ3P61QGb0XgAwIxlrsZsSa0Aha/GVCnp6ajnT+il1vnUHdN6Hd5VD4m\nphiE6m5MS/S4d+GidcSw1+kbK22NHQVIAfZzqYjpRQuL898uBy8q6qSET7uUHRIV\n3znYL33caqxjup/FbUa8mldhG+jqhGgU7yyP5K3foySbMlubnoBCf/0pZ3lEuHXf\nGshRVGdbjzL8GVyHD8LrwTPVuYLIN5V7VYE/B6XTM+XraMK0prDMJCJlxMv96OaU\noUcpB33zQzBY3Xw5VqQpTnYKQ7Q1P72i+CLRNF8sq8bo9DWoYQIDAQABMA0GCSqG\nSIb3DQEBCwUAA4IBAQAmbgQcW22AnrP/GH5lzt+Fy6t20lxqpMDIc3rCO6dzXMCR\n9ocjwLj7E243jGFbhHzC8637qOC8b5bYLZL2ND9ZehSu0qdz/0U0Kwt81rj/lihk\nvhD6xgx8g966AMZcZ0iQncyTzbdEukq6jMAtYfWvAu41rL0H5qvIFvxLHGOoxOYV\n0XZslWTC8B8TB3hzQ+HHexxSZbLSbB+sHFShubOlqqxE/zMj2O+c2FGYSOKlbTXi\nTd4m1WY/eJ4+0XjvEAAMZqLSLtnF5U1POz2onnk0u/lzsRnpxiqJY2++1WmCnuAT\nwDIwNEeAPotfm6tM1TjWuwakYrbSY7Ru0YjaFC1S\n-----END CERTIFICATE-----\n",
                                                "encryptedWalletBindingId": "qeCUuKEjRDUiDHfbYAsHv5L4RCiHe_KE7eKKjpw7jIo",
                                                "expireDateTime": "2023-01-27T05:38:10.000Z",
                                                "thumbprint": "rOe3ifBa0uIuKfArURKRKK5psE8YVdWxXbQoDXAvntk",
                                                "keyId": "1673933890260"
                                            },
                                            "errors": []
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "summary": "Wallet Binding -  Bind Credential with wallet",
                "tags": [
                    "Wallet Binding"
                ],
                "description": "This api is used to bind the credential   with wallet.\nThis api is used as a proxy to call [Identity Provider - Wallet binding Endpoint](https://mosip.stoplight.io/docs/identity-provider/6e91115b16311-wallet-binding-endpoint) api internally."
            }
        },
        "/allProperties": {
            "get": {
                "operationId": "getAllProperties",
                "responses": {
                    "200": {
                        "description": "Successfully retrieved all configurable properties for Inji.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "response": {
                                            "type": "object",
                                            "additionalProperties": {
                                                "type": "string"
                                            }
                                        },
                                        "errors": {
                                            "type": "array",
                                            "items": {
                                                "type": "object"
                                            }
                                        }
                                    }
                                },
                                "examples": {
                                    "example-1": {
                                        "value": {
                                            "response": {
                                                "internal.auth.types.allowed": "otp,bio-Finger,bio-Iris,bio-Face",
                                                "auth.types.allowed": "demo,otp,bio-Finger,bio-Iris,bio-Face",
                                                "ekyc.auth.types.allowed": "demo,otp,bio-Finger,bio-Iris,bio-Face"
                                            },
                                            "errors": []
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "description": "Get all configurable properties for Inji.",
                "summary": "Get all Inji app properties",
                "tags": [
                    "Inji Config"
                ]
            }
        },
        "/issuers": {
            "get": {
                "operationId": "getAllIssuers",
                "parameters": [
                    {
                        "name": "search",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "tags": [
                    "Trusted Issuers"
                ],
                "description": "This API provides data with search capability to populate the list of supported issuers in Inji Web, which is then displayed under the List of Issuers",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "issuers": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "issuer_id": {
                                                        "type": "string"
                                                    },
                                                    "protocol": {
                                                        "type": "string"
                                                    },
                                                    "display": {
                                                        "type": "array",
                                                        "items": {
                                                            "type": "object",
                                                            "properties": {
                                                                "name": {
                                                                    "type": "string"
                                                                },
                                                                "logo": {
                                                                    "type": "object",
                                                                    "properties": {
                                                                        "url": {
                                                                            "type": "string"
                                                                        },
                                                                        "alt_text": {
                                                                            "type": "string"
                                                                        }
                                                                    }
                                                                },
                                                                "title": {
                                                                    "type": "string"
                                                                },
                                                                "description": {
                                                                    "type": "string"
                                                                },
                                                                "language": {
                                                                    "type": "string"
                                                                }
                                                            }
                                                        }
                                                    },
                                                    "client_id": {
                                                        "type": "string"
                                                    },
                                                    "wellknown_endpoint": {
                                                        "type": "string"
                                                    },
                                                    "redirect_uri": {
                                                        "type": "string"
                                                    },
                                                    "authorization_audience": {
                                                        "type": "string"
                                                    },
                                                    "token_endpoint": {
                                                        "type": "string"
                                                    },
                                                    "proxy_token_endpoint": {
                                                        "type": "string"
                                                    },
                                                    "client_alias": {
                                                        "type": "string"
                                                    },
                                                    "qr_code_type": {
                                                        "type": "string",
                                                        "enum": [
                                                            "OnlineSharing",
                                                            "EmbeddedVC",
                                                            "None"
                                                        ]
                                                    },
                                                    "enabled": {
                                                        "type": "string"
                                                    },
                                                    "credential_issuer": {
                                                        "type": "string"
                                                    },
                                                    "credential_issuer_host": {
                                                        "type": "string"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                },
                                "x-examples": {
                                    "Example 1": {
                                        "id": "mosip.resident.vid",
                                        "version": "v1",
                                        "str": null,
                                        "responsetime": "2022-10-31T05:08:14.846Z",
                                        "metadata": null,
                                        "response": {
                                            "issuers": [
                                                {
                                                    "issuer_id": "MOSIPInsurance",
                                                    "credential_issuer": "MOSIPInsurance",
                                                    "credential_issuer_host": "https://injicertify-insurance.collab.mosip.net",
                                                    "protocol": "OpenId4VCI",
                                                    "display": [
                                                        {
                                                            "name": "MOSIP Insurance",
                                                            "logo": {
                                                                "url": "https://api.collab.mosip.net/inji/mosip-logo.png",
                                                                "alt_text": "MOSIP-Logo"
                                                            },
                                                            "title": "Download via LIC",
                                                            "description": "This API provides data to populate the list of supported issuers in Inji Web, which is then displayed under the List of Issuers section on the Home page of Inji Web.",
                                                            "language": "en"
                                                        }
                                                    ],
                                                    "client_id": "3yz7-j3xRzU3SODdoNgSGvO_cD8UijH3AIWRDAg1x-M",
                                                    "wellknown_endpoint": "http://localhost:8088/.well-known/openid-credential-issuer"
                                                },
                                                {
                                                    "issuer_id": "MOSIPNationalID",
                                                    "credential_issuer": "MOSIPNationalID",
                                                    "credential_issuer_host": "https://injicertify-mosipid.released.mosip.net",
                                                    "protocol": "OpenId4VCI",
                                                    "display": [
                                                        {
                                                            "name": "MOSIP National ID",
                                                            "logo": {
                                                                "url": "https://api.collab.mosip.net/inji/mosip-logo.png",
                                                                "alt_text": "MOSIP-Logo"
                                                            },
                                                            "title": "Download via LIC",
                                                            "description": "Enter your policy number to download your card.",
                                                            "language": "en"
                                                        }
                                                    ],
                                                    "client_id": "3yz7-j3xRzU3SODdoNgSGvO_cD8UijH3AIWRDAg1x-M",
                                                    "wellknown_endpoint": "http://localhost:8088/.well-known/openid-credential-issuer"
                                                }
                                            ]
                                        },
                                        "errors": null
                                    }
                                },
                                "examples": {
                                    "Success response": {
                                        "value": {
                                            "id": "mosip.resident.vid",
                                            "version": "v1",
                                            "str": null,
                                            "responsetime": "2022-10-31T05:08:14.846Z",
                                            "metadata": null,
                                            "response": {
                                                "issuers": [
                                                    {
                                                        "issuer_id": "MOSIPInsurance",
                                                        "credential_issuer": "MOSIPInsurance",
                                                        "credential_issuer_host": "https://injicertify-insurance.collab.mosip.net",
                                                        "protocol": "OpenId4VCI",
                                                        "display": [
                                                            {
                                                                "name": "MOSIP Insurance",
                                                                "logo": {
                                                                    "url": "https://api.collab.mosip.net/inji/mosip-logo.png",
                                                                    "alt_text": "MOSIP-Logo"
                                                                },
                                                                "title": "Download via LIC",
                                                                "description": "Enter your policy number to download your card.",
                                                                "language": "en"
                                                            }
                                                        ],
                                                        "client_id": "3yz7-j3xRzU3SODdoNgSGvO_cD8UijH3AIWRDAg1x-M",
                                                        ".well-known": "http://localhost:8088/.well-known/openid-credential-issuer"
                                                    },
                                                    {
                                                        "issuer_id": "MOSIPNationalID",
                                                        "credential_issuer": "MOSIPNationalID",
                                                        "credential_issuer_host": "https://injicertify-mosipid.released.mosip.net",
                                                        "protocol": "OpenId4VCI",
                                                        "display": [
                                                            {
                                                                "name": "MOSIP National ID",
                                                                "logo": {
                                                                    "url": "https://api.collab.mosip.net/inji/mosip-logo.png",
                                                                    "alt_text": "MOSIP-Logo"
                                                                },
                                                                "title": "Download via LIC",
                                                                "description": "Enter your policy number to download your card.",
                                                                "language": "en"
                                                            }
                                                        ],
                                                        "client_id": "3yz7-j3xRzU3SODdoNgSGvO_cD8UijH3AIWRDAg1x-M",
                                                        ".well-known": "http://localhost:8088/.well-known/openid-credential-issuer"
                                                    }
                                                ]
                                            }
                                        }
                                    },
                                    "Failure response": {
                                        "value": {
                                            "id": null,
                                            "version": "v1",
                                            "str": null,
                                            "responsetime": "2022-10-31T05:07:34.789Z",
                                            "metadata": null,
                                            "response": null,
                                            "errors": [
                                                {
                                                    "errorCode": "RESIDENT-APP-26",
                                                    "errorMessage": "Api not accessible failure"
                                                }
                                            ]
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/issuers/{issuer-id}": {
            "get": {
                "operationId": "getIssuerConfig",
                "parameters": [
                    {
                        "name": "issuer-id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "tags": [
                    "Trusted Issuers"
                ],
                "description": "This API provides the complete configuration details for the specific issuers passed in the path variable",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "response": {
                                            "type": "object",
                                            "properties": {
                                                "issuer_id": {
                                                    "type": "string"
                                                },
                                                "protocol": {
                                                    "type": "string"
                                                },
                                                "display": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "name": {
                                                                "type": "string"
                                                            },
                                                            "logo": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "url": {
                                                                        "type": "string"
                                                                    },
                                                                    "alt_text": {
                                                                        "type": "string"
                                                                    }
                                                                }
                                                            },
                                                            "title": {
                                                                "type": "string"
                                                            },
                                                            "description": {
                                                                "type": "string"
                                                            },
                                                            "language": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    }
                                                },
                                                "client_id": {
                                                    "type": "string"
                                                },
                                                "wellknown_endpoint": {
                                                    "type": "string"
                                                },
                                                "redirect_uri": {
                                                    "type": "string"
                                                },
                                                "authorization_audience": {
                                                    "type": "string"
                                                },
                                                "token_endpoint": {
                                                    "type": "string"
                                                },
                                                "proxy_token_endpoint": {
                                                    "type": "string"
                                                },
                                                "client_alias": {
                                                    "type": "string"
                                                },
                                                "qr_code_type": {
                                                    "type": "string",
                                                    "enum": [
                                                        "OnlineSharing",
                                                        "EmbeddedVC",
                                                        "None"
                                                    ]
                                                },
                                                "enabled": {
                                                    "type": "boolean"
                                                },
                                                "credential_issuer": {
                                                    "type": "string"
                                                },
                                                "credential_issuer_host": {
                                                    "type": "string"
                                                }
                                            }
                                        },
                                        "errors": {
                                            "type": "array",
                                            "items": {
[...]
