{
    "openapi": "3.0.1",
    "x-stoplight": {
        "id": "5bf5a1n68g4tq"
    },
    "info": {
        "title": "Mimoto",
        "summary": "A backend service that acts as a proxy for Inji Wallet, handles API requests, validations, and manages verifiable credentials (VC)",
        "description": "This API document details on the below categories of endpoints\n<ul>\n<li> Credential Download - OTP Flow: All endpoints that handle generation, request, status check, and download of credentials using OTP </li>\n<li> Verifiers: Endpoint that retrieves a list of all trusted verifiers.</li>\n<li> Credentials Download: Endpoints that manage the retrieval and download of credentials</li>\n<li> Wallet Binding: Endpoints to generate OTP and bind credentials to a wallet </li>\n<li>Inji Config: Endpoint that retrieves all configurable properties for the Inji application </li>\n<li>Trusted Issuers: All endpoints that provide data and configuration details for supported issuers </li>\n<li>Authorize the Verifiable Presentation: Endopint that authorizes verifiable presentations and handles related responses</li>\n</ul>\n\n<b>Abbreviations:</b></br></br>\nOTP - One Time Password",
        "license": {
            "name": "Mosip",
            "url": "https://docs.mosip.io/platform/license"
        },
        "version": "1.0"
    },
    "servers": [
        {
            "url": "https://api.collab.mosip.net/v1/mimoto",
            "description": "For Swagger"
        }
    ],
    "paths": {
        "/req/otp": {
            "post": {
                "tags": [
                    "Credential Download - OTP Flow"
                ],
                "summary": "Generate Credential - Request OTP",
                "description": "This endpoint allows a user to request an OTP for credential generation. The OTP can be sent through multiple channels like email or phone, based on the provided `otpChannel` in the request. The system will send the OTP to the masked email or phone number associated with the provided individual ID.\n\nThis is part of the process to initiate credential verification in the system, ensuring that the individual has access to the notification channels specified.\n",
                "operationId": "otpRequest",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AppOTPRequestDTO"
                            },
                            "examples": {
                                "example-1": {
                                    "value": {
                                        "individualId": "1289358704",
                                        "individualIdType": "UIN",
                                        "otpChannel": [
                                            "EMAIL",
                                            "PHONE"
                                        ],
                                        "transactionID": "1234567890"
                                    }
                                }
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "string",
                                            "description": "Unique identifier for the OTP request"
                                        },
                                        "version": {
                                            "type": "string",
                                            "description": "The version of the OTP request API."
                                        },
                                        "str": {
                                            "type": "string",
                                            "nullable": true,
                                            "description": "A status message related to the OTP request. May be null if no additional info is available."
                                        },
                                        "responsetime": {
                                            "type": "string",
                                            "format": "date-time",
                                            "nullable": true,
                                            "description": "The timestamp when the OTP request was processed."
                                        },
                                        "metadata": {
                                            "type": "object",
                                            "nullable": true,
                                            "description": "Additional metadata associated with the OTP request. May be null if no metadata is provided."
                                        },
                                        "response": {
                                            "type": "object",
                                            "properties": {
                                                "maskedMobile": {
                                                    "type": "string",
                                                    "description": "The partially masked mobile number to which the OTP was sent (e.g., XXXXXX6677)."
                                                },
                                                "maskedEmail": {
                                                    "type": "string",
                                                    "description": "The partially masked email address to which the OTP was sent (e.g., XXuXXrXX5XX9@gmail.com)."
                                                }
                                            }
                                        },
                                        "errors": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "errorCode": {
                                                        "type": "string",
                                                        "description": "A code identifying the error that occurred, if any."
                                                    },
                                                    "errorMessage": {
                                                        "type": "string",
                                                        "description": "A descriptive message detailing the error, if any."
                                                    }
                                                }
                                            },
                                            "nullable": true
                                        }
                                    }
                                },
                                "examples": {
                                    "example-1": {
                                        "value": {
                                            "id": "mosip.identity.otp.internal",
                                            "version": "1.0",
                                            "str": null,
                                            "responsetime": null,
                                            "metadata": null,
                                            "response": {
                                                "maskedMobile": "XXXXXX6677",
                                                "maskedEmail": "XXuXXrXX5XX9@gmail.com"
                                            },
                                            "errors": null
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/verifiers": {
            "get": {
                "tags": [
                    "Verifiers"
                ],
                "description": "This API retrieves all trusted verifiers for Inji Wallet. \nVerifiers are entities that are trusted to verify the authenticity of credentials in the wallet. \nThe returned list includes the client details, redirect URIs, and response URIs associated with each verifier.\n",
                "operationId": "getAllTrustedVerifiers",
                "responses": {
                    "200": {
                        "description": "Returns a list of trusted verifiers and their details.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "verifiers": {
                                            "type": "array",
                                            "description": "A list of trusted verifiers for Inji Wallet.",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "client_id": {
                                                        "type": "string",
                                                        "description": "The unique identifier (URL) of the client verifier.\nThis ID is used to identify and authenticate the client in the system.\n"
                                                    },
                                                    "redirect_uris": {
                                                        "type": "array",
                                                        "items": {
                                                            "type": "string"
                                                        },
                                                        "description": "A list of URIs where the client expects to receive the redirect after a successful verification.\n"
                                                    },
                                                    "response_uris": {
                                                        "type": "array",
                                                        "items": {
                                                            "type": "string"
                                                        },
                                                        "description": "A list of URIs where the client expects to receive the response after processing the verification request.\n"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                },
                                "examples": {
                                    "Success response": {
                                        "value": {
                                            "verifiers": [
                                                {
                                                    "client_id": "https://injiverify.collab.mosip.net",
                                                    "redirect_uris": [
                                                        "https://injiverify.collab.mosip.net/redirect"
                                                    ],
                                                    "response_uris": [
                                                        "https://injiverify.collab.mosip.net/redirect"
                                                    ]
                                                }
                                            ]
                                        }
                                    },
                                    "Failure response": {
                                        "value": {
                                            "id": null,
                                            "version": "v1",
                                            "responsetime": "2022-10-31T05:07:34.789Z",
                                            "metadata": null,
                                            "response": null,
                                            "errors": [
                                                {
                                                    "errorCode": "VERIFIER-API-26",
                                                    "errorMessage": "API not accessible failure"
                                                }
                                            ]
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/get-token/{issuer}": {
            "post": {
                "tags": [
                    "Credentials Download"
                ],
                "summary": "Retrieve accessToken for OIDC flow",
                "description": "This endpoint allows you to retrieve the access token in exchange for\nthe authorization code provided during the OIDC flow. The token returned \ncan be used to authenticate and authorize subsequent requests to the service.\n",
                "operationId": "getToken",
                "parameters": [
                    {
                        "name": "arg0",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "string"
                            }
                        },
                        "description": "A set of query parameters that are required for the token exchange process.\nThese parameters will typically include the authorization code or other necessary data.\n"
                    },
                    {
                        "name": "issuer",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "The identifier of the issuer for which the access token is being requested.\nThis should match the issuer registered in the system and is used to validate the token request.\n"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK - Successfully retrieved the access token",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "string",
                                            "description": "The unique identifier for the response."
                                        },
                                        "version": {
                                            "type": "string",
                                            "description": "The version of the response schema."
                                        },
                                        "str": {
                                            "type": "string",
                                            "nullable": true,
                                            "description": "A custom field that might contain additional string-based information (can be null)."
                                        },
                                        "responsetime": {
                                            "type": "string",
                                            "format": "date-time",
                                            "description": "The timestamp of when the response was generated."
                                        },
                                        "metadata": {
                                            "type": "object",
                                            "nullable": true,
                                            "description": "Additional metadata about the response, if available."
                                        },
                                        "response": {
                                            "type": "object",
                                            "properties": {
                                                "access_token": {
                                                    "type": "string",
                                                    "description": "The access token that can be used for authentication and authorization in subsequent requests. This token follows the standard OAuth2.0 bearer token format.\n"
                                                },
                                                "token_type": {
                                                    "type": "string",
                                                    "description": "The type of token, usually 'bearer'."
                                                },
                                                "expires_in": {
                                                    "type": "integer",
                                                    "description": "The time in seconds for which the access token is valid.\nAfter this time, the token will need to be refreshed or reissued.\n"
                                                },
                                                "scope": {
                                                    "type": "string",
                                                    "description": "The scope of the access token, which defines what resources or actions the token allows access to.\n"
                                                },
                                                "refresh_token": {
                                                    "type": "string",
                                                    "nullable": true,
                                                    "description": "A refresh token that can be used to obtain a new access token after the old one expires. \nThis field may be null if a refresh token is not provided.\n"
                                                }
                                            }
                                        },
                                        "errors": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "errorCode": {
                                                        "type": "string",
                                                        "description": "A code representing the error that occurred.\n"
                                                    },
                                                    "errorMessage": {
                                                        "type": "string"
                                                    }
                                                }
                                            },
                                            "nullable": true
                                        }
                                    }
                                },
                                "examples": {
                                    "Success response": {
                                        "value": {
                                            "id": "mosip.mimoto.issuers",
                                            "version": "v1",
                                            "str": null,
                                            "responsetime": "2024-04-25T05:56:55.890Z",
                                            "metadata": null,
                                            "response": {
                                                "access_token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...",
                                                "token_type": "bearer",
                                                "expires_in": 3600,
                                                "scope": "mosip_identity_vc_ldp",
                                                "refresh_token": "xyz123"
                                            },
                                            "errors": []
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request - The request was malformed or missing necessary parameters",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "string"
                                        },
                                        "version": {
                                            "type": "string"
                                        },
                                        "str": {
                                            "type": "string",
                                            "nullable": true
                                        },
                                        "responsetime": {
                                            "type": "string",
                                            "format": "date-time"
                                        },
                                        "metadata": {
                                            "type": "object",
                                            "nullable": true
                                        },
                                        "response": {
                                            "type": "object",
                                            "nullable": true
                                        },
                                        "errors": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "errorCode": {
                                                        "type": "string"
                                                    },
                                                    "errorMessage": {
                                                        "type": "string"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                },
                                "examples": {
                                    "Failure response": {
                                        "value": {
                                            "id": null,
                                            "version": "v1",
                                            "str": null,
                                            "responsetime": "2022-10-31T05:07:34.789Z",
                                            "metadata": null,
                                            "response": null,
                                            "errors": [
                                                {
                                                    "errorCode": "RESIDENT-APP-26",
                                                    "errorMessage": "Api not accessible failure"
                                                }
                                            ]
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/credentialshare/request": {
            "post": {
                "tags": [
                    "Credential Download - OTP Flow"
                ],
                "summary": "Generate Credential - Request new credential",
                "description": "This endpoint allows a user to request a new credential. The request requires an OTP for verification, which was previously generated in the OTP flow. The credential request is processed and stored in the system for further actions. The request requires the `individualId`, `otp`, `transactionID`, and the `user` requesting the credential.\n\nThe system verifies the OTP and transaction ID, and if valid, processes the credential generation. The response includes the status of the request and may contain an error message in case of failure.\n",
                "operationId": "request",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "individualId": {
                                        "type": "string",
                                        "description": "The unique identifier for the individual requesting the credential, typically used in identity systems (e.g., UIN, Aadhar)."
                                    },
                                    "otp": {
                                        "type": "string",
                                        "description": "The OTP sent to the user for verification. It is used to authenticate the user requesting the credential."
                                    },
                                    "transactionID": {
                                        "type": "string",
                                        "description": "The unique identifier associated with the transaction that initiated the OTP request. It ensures that the request is valid and matches the previous OTP request."
                                    },
                                    "user": {
                                        "type": "string",
                                        "description": "The user requesting the credential. This could represent the application or system entity making the request on behalf of the individual."
                                    }
                                }
                            },
                            "examples": {
                                "example-1": {
                                    "value": {
                                        "individualId": "2057135194",
                                        "otp": "111111",
                                        "transactionID": "1234567890",
                                        "user": "mono"
                                    }
                                }
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "string",
                                            "description": "The unique identifier for the credential request (e.g., mosip.resident.vid)."
                                        },
                                        "version": {
                                            "type": "string",
                                            "description": "The version of the credential request process (e.g., v1)."
                                        },
                                        "str": {
                                            "type": "string",
                                            "nullable": true,
                                            "description": "A status message related to the credential request. May be null if no additional info is available."
                                        },
                                        "responsetime": {
                                            "type": "string",
                                            "format": "date-time",
                                            "nullable": true,
                                            "description": "The timestamp when the credential request was processed, in ISO 8601 format."
                                        },
                                        "metadata": {
                                            "type": "object",
                                            "nullable": true,
                                            "description": "Additional metadata associated with the credential request. May be null if no metadata is provided."
                                        },
                                        "response": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "string",
                                                    "description": "The unique identifier of the individual requesting the credential."
                                                },
                                                "requestId": {
                                                    "type": "string",
                                                    "description": "The unique identifier for this credential request generated by the system."
                                                }
                                            }
                                        },
                                        "errors": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "errorCode": {
                                                        "type": "string",
                                                        "description": "The error code that identifies the problem with the request, if any."
                                                    },
                                                    "errorMessage": {
                                                        "type": "string",
                                                        "description": "A descriptive message detailing the error encountered during the request."
                                                    }
                                                }
                                            },
                                            "nullable": true
                                        }
                                    }
                                },
                                "examples": {
                                    "Success response": {
                                        "value": {
                                            "id": "mosip.resident.vid",
                                            "version": "v1",
                                            "str": null,
                                            "responsetime": "2022-10-31T05:08:14.846Z",
                                            "metadata": null,
                                            "response": {
                                                "id": "2057135194",
                                                "requestId": "2bc3bb7f-6156-46d1-ae03-bf7b76e0c257"
                                            },
                                            "errors": null
                                        }
                                    },
                                    "Failure response": {
                                        "value": {
                                            "id": null,
                                            "version": "v1",
                                            "str": null,
                                            "responsetime": "2022-10-31T05:07:34.789Z",
                                            "metadata": null,
                                            "response": null,
                                            "errors": [
                                                {
                                                    "errorCode": "RES-SER-422",
                                                    "errorMessage": "Input transactionID does not match transactionID of OTP Request"
                                                }
                                            ]
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/credentialshare/request/status/{requestId}": {
            "get": {
                "tags": [
                    "Credential Download - OTP Flow"
                ],
                "summary": "Generate Credential - Check Status of Credential Share",
                "description": "This endpoint allows users to check the status of a previously requested credential. It requires the `requestId` of the credential request, which was generated when the request was made.\n\nIf the request is successfully processed, the system will return the current status along with any relevant error details if applicable.\n",
                "operationId": "requestStatus",
                "parameters": [
                    {
                        "name": "requestId",
                        "in": "path",
                        "required": true,
                        "description": "The unique identifier for the credential request. This ID is generated when the credential request is initially made and is used to track the status of the request.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "string",
                                            "description": "The unique identifier of the individual requesting the credential. This ID corresponds to the one used in the original request."
                                        },
                                        "requestId": {
                                            "type": "string",
                                            "description": "The unique identifier of the credential request. This value is provided when the request is initially made and is used to track the request's progress."
                                        },
                                        "statusCode": {
                                            "type": "string",
                                            "description": "The current status of the credential request."
                                        },
                                        "errors": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {}
                                            },
                                            "description": "A list of errors encountered during the processing of the credential request, if any. This is empty if the request is successful."
                                        }
                                    }
                                },
                                "examples": {
                                    "success response": {
                                        "value": {
                                            "response": {
                                                "id": "2057135194",
                                                "requestId": "2bc3bb7f-6156-46d1-ae03-bf7b76e0c257",
                                                "statusCode": "ISSUED"
                                            },
                                            "errors": []
                                        }
                                    },
                                    "failure response": {
                                        "value": {
                                            "response": {
                                                "id": "2057135194",
                                                "requestId": "2bc3bb7f-6156-46d1-ae03-bf7b76e0c257",
                                                "statusCode": "FAILED"
                                            },
                                            "errors": [
                                                {
                                                    "errorCode": "CRED-REQ-503",
                                                    "errorMessage": "Credential request processing failed due to an internal error."
                                                }
                                            ]
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/credentialshare/download": {
            "post": {
                "tags": [
                    "Credential Download - OTP Flow"
                ],
                "summary": "Generate Credential - Download Credential",
                "description": "This endpoint is used to download a Verifiable Credential based on the provided `requestId`. \nIt accepts a request containing the individual’s `requestId` and `individualId` to retrieve the credential. \nIf the requested VC exists, it returns both the decrypted credential and the original encrypted credential. \nIf any issue occurs (e.g., no credential is found), it returns a `NOT_FOUND` status.\n",
                "operationId": "download",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "individualId": {
                                        "type": "string",
                                        "description": "The unique identifier of the individual who is requesting the download of the verifiable credential. \nThis ID is typically assigned to an individual when they register or authenticate.\n"
                                    },
                                    "requestId": {
                                        "type": "string",
                                        "description": "The unique identifier for the specific credential request. This value is generated when the request is made to download the credential. \nThe `requestId` is used to track and retrieve the credential.\n"
                                    }
                                }
                            },
                            "examples": {
                                "example-1": {
                                    "value": {
                                        "individualId": "2057135194",
                                        "requestId": "2bc3bb7f-6156-46d1-ae03-bf7b76e0c257"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CredentialDownloadResponseDTO"
                                },
                                "examples": {
                                    "success response": {
                                        "value": {
                                            "credential": {
                                                "biometrics": {
                                                    "face": "<face data>"
                                                },
                                                "province": [
                                                    {
                                                        "language": "eng",
                                                        "value": "Kenitra"
                                                    },
                                                    {
                                                        "language": "kan",
                                                        "value": "ಕೆನಿತ್ರಾ"
                                                    }
                                                ],
                                                "phone": "4567897654",
                                                "city": [
                                                    {
                                                        "language": "eng",
                                                        "value": "Kenitra"
                                                    },
                                                    {
                                                        "language": "kan",
                                                        "value": "ಕೆನಿತ್ರಾ"
                                                    }
                                                ],
                                                "postalCode": "14022",
                                                "fullName": [
                                                    {
                                                        "language": "eng",
                                                        "value": "kimgḻbb"
                                                    },
                                                    {
                                                        "language": "kan",
                                                        "value": "ಕಿಮ್ಗ್ೞ್ಬ್ಬ್"
                                                    }
                                                ],
                                                "region": [
                                                    {
                                                        "language": "eng",
                                                        "value": "Rabat Sale Kenitra"
                                                    },
                                                    {
                                                        "language": "kan",
                                                        "value": "ರಬತ್ ಸಲೆ ಕೆನಿತ್ರ"
                                                    }
                                                ]
                                            },
                                            "verifiableCredential": {
                                                "@context": [
                                                    "https://www.w3.org/2018/credentials/v1",
                                                    "http://localhost:8088/.well-known/mosip-context.json",
                                                    {
                                                        "sec": "https://w3id.org/security#"
                                                    }
                                                ],
                                                "credentialSubject": {
                                                    "biometrics": "<biometrics>",
                                                    "province": [
                                                        {
                                                            "language": "eng",
                                                            "value": "Kenitra"
                                                        },
                                                        {
                                                            "language": "kan",
                                                            "value": "ಕೆನಿತ್ರಾ"
                                                        }
                                                    ],
                                                    "city": [
                                                        {
                                                            "language": "eng",
                                                            "value": "Kenitra"
                                                        },
                                                        {
                                                            "language": "kan",
                                                            "value": "ಕೆನಿತ್ರಾ"
                                                        }
                                                    ],
                                                    "phone": "4567897654",
                                                    "postalCode": "14022",
                                                    "fullName": [
                                                        {
                                                            "language": "eng",
                                                            "value": "kimgḻbb"
                                                        },
                                                        {
                                                            "language": "kan",
                                                            "value": "ಕಿಮ್ಗ್ೞ್ಬ್ಬ್"
                                                        }
                                                    ],
                                                    "dateOfBirth": "1990/01/01",
                                                    "id": "http://credential.idrepo/credentials/2057135194",
                                                    "vcVer": "VC-V1",
                                                    "UIN": "2057135194",
                                                    "region": [
                                                        {
                                                            "language": "eng",
                                                            "value": "Rabat Sale Kenitra"
                                                        },
                                                        {
                                                            "language": "kan",
                                                            "value": "ರಬತ್ ಸಲೆ ಕೆನಿತ್ರ"
                                                        }
                                                    ],
                                                    "email": "santhosdss14@gmail.com"
                                                },
                                                "id": "http://credential.idrepo/credentials/a3afcf8c-e5a6-4782-9ce5-84740ec2f332",
                                                "issuanceDate": "2022-10-31T05:08:26.980Z",
                                                "issuer": "http://localhost:8088/.well-known/controller.json",
                                                "proof": {
                                                    "type": "RsaSignature2018",
                                                    "created": "2022-10-31T05:08:26Z",
                                                    "proofPurpose": "assertionMethod",
                                                    "verificationMethod": "http://localhost:8088/.well-known/public-key.json",
                                                    "jws": "<The jws signature>"
                                                },
                                                "type": [
                                                    "VerifiableCredential",
                                                    "MOSIPVerifiableCredential"
                                                ]
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/credentialshare/callback/notify": {
            "post": {
                "operationId": "handleSubscribeEvent",
                "summary": "Callback API - Notify when credential is ready",
                "description": "This callback URI is used by WebSub to notify when a credential has been generated and is ready. \nIt is triggered when a subscribed event has occurred, such as the completion of a credential generation process.\n",
                "tags": [
                    "Credential Download - OTP Flow"
                ],
                "x-internal": true,
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/EventModel"
                            },
                            "examples": {
                                "event-example": {
                                    "value": {
                                        "event": {
                                            "id": "12345",
                                            "transactionId": "tx-987654",
                                            "status": "SUCCESS",
                                            "timestamp": "2022-10-31T05:08:14.846Z"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK - Event processed successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GenericResponseDTO"
                                },
                                "examples": {
                                    "success": {
                                        "value": {
                                            "status": "OK",
                                            "message": "Successfully issued."
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/binding-otp": {
            "post": {
                "summary": "Wallet Binding - Generate Otp",
                "description": "This API is used to generate an OTP for wallet binding. It acts as a proxy to call the \n[Identity Provider - Send Binding OTP Endpoint](https://mosip.stoplight.io/docs/identity-provider/a34e5371d4876-send-binding-otp-endpoint-draft) \nAPI internally.\n\nThe OTP is used to verify the user's identity during the wallet binding process.\n",
                "tags": [
                    "Wallet Binding"
                ],
                "operationId": "bindingOtpGenerate",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "requestTime": {
                                        "type": "string",
                                        "description": "The timestamp when the OTP request is made."
                                    },
                                    "request": {
                                        "type": "object",
                                        "properties": {
                                            "individualId": {
                                                "type": "string",
                                                "description": "The individual identifier used for verification. This can be a UIN (Universal\nIdentity Number) or VID (Verified Identity).\n"
                                            },
                                            "otpChannels": {
                                                "type": "array",
                                                "description": "A list of OTP channels that will be used to notify the user. \nPossible values include EMAIL, PHONE.\n",
                                                "items": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                }
                            },
                            "examples": {
                                "Wallet binding otp request example": {
                                    "value": {
                                        "requestTime": "{{$isoTimestamp}}",
                                        "request": {
                                            "individualId": "3816083254",
                                            "otpChannels": [
                                                "EMAIL",
                                                "PHONE"
                                            ]
                                        }
                                    }
                                }
                            }
                        },
                        "application/xml": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "individualId": {
                                        "type": "string",
                                        "description": "The individual identifier used for verification (UIN or VID).\n"
                                    },
                                    "individualIdType": {
                                        "type": "string",
                                        "description": "The type of individual identifier (UIN or VID)."
                                    },
                                    "otp": {
                                        "type": "string",
                                        "description": "The OTP that is to be sent to the user."
                                    },
                                    "vidType": {
                                        "type": "string",
                                        "description": "The type of the VID (e.g., PERPETUAL)."
                                    },
                                    "transactionID": {
                                        "type": "string",
                                        "description": "The unique identifier for the transaction request."
                                    }
                                }
                            },
                            "examples": {
                                "example-1": {
                                    "value": "{\n  \"individualId\": \"2057135194\",\n  \"individualIdType\": \"UIN\",\n  \"otp\": \"111111\",\n  \"vidType\": \"PERPETUAL\",\n  \"transactionID\": \"1234567890\"\n}"
                                }
                            }
                        },
                        "multipart/form-data": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "requestTime": {
                                        "type": "string",
                                        "description": "The timestamp when the OTP request is made."
                                    },
                                    "request": {
                                        "type": "object",
                                        "properties": {
                                            "individualId": {
                                                "type": "string",
                                                "description": "The individual identifier used for verification. This can be a UIN or VID.\n"
                                            },
                                            "otpChannels": {
                                                "type": "array",
                                                "description": "A list of OTP channels for notifying the user (e.g., EMAIL, PHONE).\n",
                                                "items": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "required": true,
                    "description": "The request body contains the details needed to generate an OTP for wallet binding."
                },
                "responses": {
                    "200": {
                        "description": "OK - OTP generated successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "string",
                                            "description": "The unique identifier of the response."
                                        },
                                        "version": {
                                            "type": "string",
                                            "description": "The version of the API response schema."
                                        },
                                        "responsetime": {
                                            "type": "string",
                                            "format": "date-time",
                                            "description": "The timestamp when the response was generated."
                                        },
                                        "metadata": {
                                            "type": "object",
                                            "description": "Additional metadata about the response, if any."
                                        },
                                        "response": {
                                            "type": "object",
                                            "properties": {
                                                "maskedEmail": {
                                                    "type": "string",
                                                    "description": "The masked email address of the user."
                                                },
                                                "maskedMobile": {
                                                    "type": "string",
                                                    "description": "The masked mobile number of the user."
                                                }
                                            }
                                        },
                                        "errors": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "errorCode": {
                                                        "type": "string",
                                                        "description": "The error code if an error occurred."
                                                    },
                                                    "errorMessage": {
                                                        "type": "string",
                                                        "description": "The error message explaining the error."
                                                    }
                                                }
                                            }
                                        }
                                    }
                                },
                                "examples": {
                                    "Success response": {
                                        "value": {
                                            "id": null,
                                            "version": null,
                                            "str": null,
                                            "responsetime": null,
                                            "metadata": null,
                                            "response": {
                                                "maskedEmail": "mono@mono.com",
                                                "maskedMobile": "7897897890"
                                            },
                                            "errors": []
                                        }
                                    },
                                    "Failure response": {
                                        "value": {
                                            "id": "mosip.resident.vid",
                                            "version": "v1",
                                            "str": null,
                                            "responsetime": "2022-10-31T04:57:10.792Z",
                                            "metadata": null,
                                            "response": null,
                                            "errors": [
                                                {
                                                    "errorCode": "RES-SER-422",
                                                    "errorMessage": "Invalid UIN"
                                                }
                                            ]
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request - The request was malformed, missing required parameters, or contained invalid data.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "string",
                                            "description": "A unique identifier for the request, useful for tracing."
                                        },
                                        "version": {
                                            "type": "string",
                                            "description": "API version."
                                        },
                                        "str": {
                                            "type": "string",
                                            "nullable": true,
                                            "description": "Optional string message about the error or request status."
                                        },
                                        "responsetime": {
                                            "type": "string",
                                            "format": "date-time",
                                            "description": "Timestamp when the response was generated."
                                        },
                                        "metadata": {
                                            "type": "object",
                                            "nullable": true,
                                            "description": "Additional information related to the request or error."
                                        },
                                        "response": {
                                            "type": "object",
                                            "nullable": true,
                                            "description": "Response body in case of success (null in failure)."
                                        },
                                        "errors": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "errorCode": {
                                                        "type": "string",
                                                        "description": "A code representing the error type, e.g., `INVALID_PARAMETER`."
                                                    },
                                                    "errorMessage": {
                                                        "type": "string",
                                                        "description": "A detailed message explaining the error, e.g., `Missing required parameter 'individualId'.`"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                },
                                "examples": {
                                    "Failure response": {
                                        "value": {
                                            "id": null,
                                            "version": "v1",
                                            "str": null,
                                            "responsetime": "2022-10-31T05:07:34.789Z",
                                            "metadata": null,
                                            "response": null,
                                            "errors": [
                                                {
                                                    "errorCode": "MISSING_REQUIRED_PARAM",
                                                    "errorMessage": "The parameter `individualId` is required but was not provided."
                                                }
                                            ]
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/wallet-binding": {
            "post": {
                "operationId": "walletBinding",
                "summary": "Wallet Binding -  Bind Credential with wallet",
                "tags": [
                    "Wallet Binding"
                ],
                "description": "This api is used to bind the credential   with wallet.\nThis api is used as a proxy to call [Identity Provider - Wallet binding Endpoint](https://mosip.stoplight.io/docs/identity-provider/6e91115b16311-wallet-binding-endpoint) api internally.",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "requestTime": {
                                        "type": "string",
                                        "description": "The request time"
                                    },
                                    "request": {
                                        "type": "object",
                                        "properties": {
                                            "authFactorType": {
                                                "type": "string",
                                                "description": "Auth factor type to be binded for the provided key."
                                            },
                                            "format": {
                                                "type": "string",
                                                "description": "Format of the auth factor type supported in the wallet app. Right now Inji supports only jwt."
                                            },
                                            "individualId": {
                                                "type": "string",
                                                "description": "The individual id. UIN or VID.\n"
                                            },
                                            "publicKey": {
                                                "type": "string",
                                                "description": "The public key of the wallet app."
                                            },
                                            "challengeList": {
                                                "type": "array",
                                                "items": {
                                                    "type": "object",
                                                    "properties": {
                                                        "authFactorType": {
                                                            "type": "string",
                                                            "description": "Defines the type of auth challenge. It should be same as authfactor.type (oauth-details response)."
                                                        },
                                                        "challenge": {
                                                            "type": "string",
                                                            "description": "Actual challenge as string. A jwt in case of inji."
                                                        },
                                                        "format": {
                                                            "type": "string",
                                                            "description": "Format of the challenge provided."
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            },
                            "examples": {
                                "Wallet binding otp request example": {
                                    "value": {
                                        "requestTime": "2023-01-17T05:38:41.869Z",
                                        "request": {
                                            "authFactorType": "WLA",
                                            "format": "jwt",
                                            "individualId": "3816083254",
                                            "publicKey": "-----BEGIN RSA PUBLIC KEY-----\nMIICCgKCAgEAxo8hdrLl6nXyPSeSJu8xgmBBwVutacZS57rmIlHeKJfjYhKLT51v\n0k2IQqN2v6A3HOZqzKXh41p3RrxdSndkqqHwS0BLEVPNpKqYoEbe0tUICDpDSFaa\n7w87Z/OSGrw8bKpxmUT0xZ70+DGPhnWlMvPV5xenG1bVtf/vEq7cwQei1iNbNQRb\nqw/57e9LgmXdmbh/v5XOllT7rlUFmVFm4V4J3u6NH9iOPGlIKTplBlYyxlx6ayaR\n09Z6z4RJICG1MIipCv5qJwuzzXXpBja6gEG4xsN5K4W6b5GLt3IuzMMaQmReseRR\n46s53vBp7aqq1wrjs/CZ1SZqZ5ZG/nUchjTv+Nir0vPR9acvPB5j5qDgfdVz2sT/\nYL1HoeFPOIgcY1ydz+tUBm9F4AMCMZa7GbEmtAIWvxlQp6emo50/opdb51B3Teh3\neVQ+JqYYhOpuTEv0uHfhonXEsNfpGyttjR0FSAH2c6mI6UULi/PfLgcvKuqkhE+7\nlB0SFd852C993GqsY7qfxW1GvJpXYRvo6oRoFO8sj+St36MkmzJbm56AQn/9KWd5\nRLh13xrIUVRnW48y/Blchw/C68Ez1bmCyDeVe1WBPwel0zPl62jCtKawzCQiZcTL\n/ejmlKFHKQd980MwWN18OVakKU52CkO0NT+9ovgi0TRfLKvG6PQ1qGECAwEAAQ==\n-----END RSA PUBLIC KEY-----\n",
                                            "challengeList": [
                                                {
                                                    "authFactorType": "OTP",
                                                    "challenge": "111111",
                                                    "format": "alpha-numeric"
                                                }
                                            ]
                                        }
                                    }
                                }
                            }
                        },
                        "application/xml": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "individualId": {
                                        "type": "string"
                                    },
                                    "individualIdType": {
                                        "type": "string"
                                    },
                                    "otp": {
                                        "type": "string"
                                    },
                                    "vidType": {
                                        "type": "string"
                                    },
                                    "transactionID": {
                                        "type": "string"
                                    }
                                }
                            },
                            "examples": {
                                "example-1": {
                                    "value": "{\n    \"individualId\": \"2057135194\",\n    \"individualIdType\": \"UIN\",\n    \"otp\": \"111111\",\n    \"vidType\": \"PERPETUAL\",\n    \"transactionID\": \"1234567890\"\n}"
                                }
                            }
                        },
                        "multipart/form-data": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "requestTime": {
                                        "type": "string"
                                    },
                                    "request": {
                                        "type": "object",
                                        "properties": {
                                            "individualId": {
                                                "type": "string"
                                            },
                                            "otpChannels": {
                                                "type": "array",
                                                "items": {}
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "required": true,
                    "description": ""
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "version": {
                                            "type": "string",
                                            "nullable": true
                                        },
                                        "id": {
                                            "type": "string",
                                            "nullable": true
                                        },
                                        "responsetime": {
                                            "type": "string",
                                            "nullable": true
                                        },
                                        "metadata": {
                                            "type": "string",
                                            "nullable": true
                                        },
                                        "response": {
                                            "type": "object",
                                            "properties": {
                                                "certificate": {
                                                    "type": "string",
                                                    "description": "Server certificate after successful binding. This certificate will be stored in wallet app."
                                                },
                                                "encryptedWalletBindingId": {
                                                    "type": "string",
                                                    "description": "the wallet binding id in encrypted format. The wallet app will associate the requested credential with this id."
                                                },
                                                "expireDateTime": {
                                                    "type": "string",
                                                    "description": "expiry date time of the binding."
                                                },
                                                "thumbprint": {
                                                    "type": "string",
                                                    "description": "the certificate thumbprint."
                                                },
                                                "keyId": {
                                                    "type": "string",
                                                    "description": "the certificate key id."
                                                }
                                            }
                                        },
                                        "errors": {
                                            "type": "array",
                                            "items": {
                                                "type": "object"
                                            }
                                        }
                                    }
                                },
                                "examples": {
                                    "Success response": {
                                        "value": {
                                            "id": null,
                                            "version": null,
                                            "str": null,
                                            "responsetime": null,
                                            "metadata": null,
                                            "response": {
                                                "certificate": "-----BEGIN CERTIFICATE-----\nMIIDqjCCApKgAwIBAgIGAYW+PCLUMA0GCSqGSIb3DQEBCwUAMBMxETAPBgNVBAMT\nCE1vY2stSURBMB4XDTIzMDExNzA1MzgxMFoXDTIzMDEyNzA1MzgxMFowGTEXMBUG\nA1UEAxMOTW9jay11c2VyLW5hbWUwggIiMA0GCSqGSIb3DQEBAQUAA4ICDwAwggIK\nAoICAQDGjyF2suXqdfI9J5Im7zGCYEHBW61pxlLnuuYiUd4ol+NiEotPnW/STYhC\no3a/oDcc5mrMpeHjWndGvF1Kd2SqofBLQEsRU82kqpigRt7S1QgIOkNIVprvDztn\n85IavDxsqnGZRPTFnvT4MY+GdaUy89XnF6cbVtW1/+8SrtzBB6LWI1s1BFurD/nt\n70uCZd2ZuH+/lc6WVPuuVQWZUWbhXgne7o0f2I48aUgpOmUGVjLGXHprJpHT1nrP\nhEkgIbUwiKkK/monC7PNdekGNrqAQbjGw3krhbpvkYu3ci7MwxpCZF6x5FHjqzne\n8GntqqrXCuOz8JnVJmpnlkb+dRyGNO/42KvS89H1py88HmPmoOB91XPaxP9gvUeh\n4U84iBxjXJ3P61QGb0XgAwIxlrsZsSa0Aha/GVCnp6ajnT+il1vnUHdN6Hd5VD4m\nphiE6m5MS/S4d+GidcSw1+kbK22NHQVIAfZzqYjpRQuL898uBy8q6qSET7uUHRIV\n3znYL33caqxjup/FbUa8mldhG+jqhGgU7yyP5K3foySbMlubnoBCf/0pZ3lEuHXf\nGshRVGdbjzL8GVyHD8LrwTPVuYLIN5V7VYE/B6XTM+XraMK0prDMJCJlxMv96OaU\noUcpB33zQzBY3Xw5VqQpTnYKQ7Q1P72i+CLRNF8sq8bo9DWoYQIDAQABMA0GCSqG\nSIb3DQEBCwUAA4IBAQAmbgQcW22AnrP/GH5lzt+Fy6t20lxqpMDIc3rCO6dzXMCR\n9ocjwLj7E243jGFbhHzC8637qOC8b5bYLZL2ND9ZehSu0qdz/0U0Kwt81rj/lihk\nvhD6xgx8g966AMZcZ0iQncyTzbdEukq6jMAtYfWvAu41rL0H5qvIFvxLHGOoxOYV\n0XZslWTC8B8TB3hzQ+HHexxSZbLSbB+sHFShubOlqqxE/zMj2O+c2FGYSOKlbTXi\nTd4m1WY/eJ4+0XjvEAAMZqLSLtnF5U1POz2onnk0u/lzsRnpxiqJY2++1WmCnuAT\nwDIwNEeAPotfm6tM1TjWuwakYrbSY7Ru0YjaFC1S\n-----END CERTIFICATE-----\n",
                                                "encryptedWalletBindingId": "qeCUuKEjRDUiDHfbYAsHv5L4RCiHe_KE7eKKjpw7jIo",
                                                "expireDateTime": "2023-01-27T05:38:10.000Z",
                                                "thumbprint": "rOe3ifBa0uIuKfArURKRKK5psE8YVdWxXbQoDXAvntk",
                                                "keyId": "1673933890260"
                                            },
                                            "errors": []
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/allProperties": {
            "get": {
                "operationId": "getAllProperties",
                "summary": "Get all Inji app properties",
                "description": "Retrieves all configurable properties for Inji.",
                "tags": [
                    "Inji Config"
                ],
                "responses": {
                    "200": {
                        "description": "Successfully retrieved all configurable properties for Inji.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "response": {
                                            "type": "object",
                                            "description": "The key-value pairs of all the configurable properties for Inji.",
                                            "additionalProperties": {
                                                "type": "string",
                                                "description": "The value for each configurable property, which can be a string or a comma-separated list."
                                            }
                                        },
                                        "errors": {
                                            "type": "array",
                                            "description": "A list of errors (if any) occurred while retrieving the properties.",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "code": {
                                                        "type": "string",
                                                        "description": "The error code."
                                                    },
                                                    "message": {
                                                        "type": "string",
                                                        "description": "A detailed error message"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                },
                                "examples": {
                                    "example-1": {
                                        "value": {
                                            "response": {
                                                "internal.auth.types.allowed": "otp,bio-Finger,bio-Iris,bio-Face",
                                                "auth.types.allowed": "demo,otp,bio-Finger,bio-Iris,bio-Face",
                                                "ekyc.auth.types.allowed": "demo,otp,bio-Finger,bio-Iris,bio-Face"
                                            },
                                            "errors": []
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/issuers": {
            "get": {
                "operationId": "getAllIssuers",
                "parameters": [
                    {
                        "name": "search",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Optional search parameter to filter issuers by a specific term. \nIf provided, the response will only include issuers whose names or identifiers match the search term.\n"
                    }
                ],
                "tags": [
                    "Trusted Issuers"
                ],
                "description": "This API provides data with a search capability to populate the list of supported issuers in Inji Web. The list will be displayed under the \"List of Issuers\" section.",
                "responses": {
                    "200": {
                        "description": "Successfully retrieved list of issuers.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "issuers": {
                                            "type": "array",
                                            "description": "A list of trusted issuers.",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "issuer_id": {
                                                        "type": "string",
                                                        "description": "A unique identifier for the issuer."
                                                    },
                                                    "protocol": {
                                                        "type": "string",
                                                        "description": "The protocol used by the issuer (e g., OpenId4VCI)."
                                                    },
                                                    "display": {
                                                        "type": "array",
                                                        "description": "Display properties for each issuer.",
                                                        "items": {
                                                            "type": "object",
                                                            "properties": {
                                                                "name": {
                                                                    "type": "string",
                                                                    "description": "The name of the issuer."
                                                                },
                                                                "logo": {
                                                                    "type": "object",
                                                                    "properties": {
                                                                        "url": {
                                                                            "type": "string",
                                                                            "description": "URL to the logo image for the issuer."
                                                                        },
                                                                        "alt_text": {
                                                                            "type": "string",
                                                                            "description": "Alt text for the issuer's logo image."
                                                                        }
                                                                    }
                                                                },
                                                                "title": {
                                                                    "type": "string",
                                                                    "description": "The title displayed for the issuer."
                                                                },
                                                                "description": {
                                                                    "type": "string",
                                                                    "description": "A description of the issuer."
                                                                },
                                                                "language": {
                                                                    "type": "string",
                                                                    "description": "The language code for the display text (e.g., \"en\")."
                                                                }
                                                            }
                                                        }
                                                    },
                                                    "client_id": {
                                                        "type": "string",
                                                        "description": "The client ID for the issuer."
                                                    },
                                                    "wellknown_endpoint": {
                                                        "type": "string",
                                                        "description": "URL to the issuer's well-known endpoint."
                                                    },
                                                    "redirect_uri": {
                                                        "type": "string",
                                                        "description": "URI to which the user will be redirected after authentication."
                                                    },
                                                    "authorization_audience": {
                                                        "type": "string",
                                                        "description": "The audience for authorization requests."
                                                    },
                                                    "token_endpoint": {
                                                        "type": "string",
                                                        "description": "URL to the token endpoint for the issuer."
                                                    },
                                                    "proxy_token_endpoint": {
                                                        "type": "string",
                                                        "description": "URL to the proxy token endpoint for the issuer."
                                                    },
                                                    "client_alias": {
                                                        "type": "string",
                                                        "description": "Alias for the client associated with the issuer."
                                                    },
                                                    "qr_code_type": {
                                                        "type": "string",
                                                        "enum": [
                                                            "OnlineSharing",
                                                            "EmbeddedVC",
                                                            "None"
                                                        ],
                                                        "description": "The type of QR code associated with the issuer, if any."
                                                    },
                                                    "enabled": {
                                                        "type": "string",
                                                        "description": "Indicates whether the issuer is enabled (e.g., \"true\" or \"false\")."
                                                    },
                                                    "credential_issuer": {
                                                        "type": "string",
                                                        "description": "The name of the credential issuer."
                                                    },
                                                    "credential_issuer_host": {
                                                        "type": "string",
                                                        "description": "The host URL of the credential issuer."
                                                    }
                                                }
                                            }
                                        }
                                    }
                                },
                                "examples": {
                                    "Success response": {
                                        "value": {
                                            "id": "mosip.resident.vid",
                                            "version": "v1",
                                            "str": null,
                                            "responsetime": "2022-10-31T05:08:14.846Z",
                                            "metadata": null,
                                            "response": {
                                                "issuers": [
                                                    {
                                                        "issuer_id": "MOSIPInsurance",
                                                        "credential_issuer": "MOSIPInsurance",
                                                        "credential_issuer_host": "https://injicertify-insurance.collab.mosip.net",
                                                        "protocol": "OpenId4VCI",
                                                        "display": [
                                                            {
                                                                "name": "MOSIP Insurance",
                                                                "logo": {
                                                                    "url": "https://api.collab.mosip.net/inji/mosip-logo.png",
                                                                    "alt_text": "MOSIP-Logo"
                                                                },
                                                                "title": "Download via LIC",
                                                                "description": "Enter your policy number to download your card.",
                                                                "language": "en"
                                                            }
[...]
