{
    "openapi": "3.0.1",
    "info": {
        "title": "mimoto",
        "description": "mimoto",
        "license": {
            "name": "Mosip",
            "url": "https://docs.mosip.io/platform/license"
        },
        "version": "1.0"
    },
    "servers": [
        {
            "url": "https://api-internal.collab.mosip.net/v1/mimoto",
            "description": "mimoto"
        }
    ],
    "tags": [
        {
            "name": "Users",
            "description": "User Profile related endpoints"
        },
        {
            "name": "Issuers V2",
            "description": "V2 API for issuers with minimal and required attributes"
        },
        {
            "name": "OAuth2 ID Token Authentication",
            "description": "OAuth2 ID Token Authentication related endpoints"
        },
        {
            "name": "Wallet Credentials",
            "description": "Wallet Credentials related endpoints"
        },
        {
            "name": "Wallets",
            "description": "Wallet related endpoints"
        },
        {
            "name": "Presentation",
            "description": "Online sharing related endpoints"
        },
        {
            "name": "Credentials download as guest user using OpenId4VCI",
            "description": "Credentials related endpoints"
        },
        {
            "name": "Resident Service",
            "description": "Resident service related endpoints"
        },
        {
            "name": "Inji Wallet Properties",
            "description": "All endpoints related to Inji Wallet properties"
        },
        {
            "name": "Credential Download through event or datashare",
            "description": "Credential download endpoints"
        },
        {
            "name": "Issuers",
            "description": "Issuers related endpoints"
        },
        {
            "name": "Wallet Binding",
            "description": "Wallet binding related endpoints"
        },
        {
            "name": "Token",
            "description": "OIDC token exchange endpoints"
        },
        {
            "name": "Verifiers",
            "description": "Verifiers related endpoints"
        },
        {
            "name": "Wallet Trusted Verifiers",
            "description": "Wallet trusted verifiers related endpoints"
        },
        {
            "name": "Wallet Presentations",
            "description": "Wallet presentations related endpoints"
        }
    ],
    "paths": {
        "/wallets": {
            "get": {
                "tags": [
                    "Wallets"
                ],
                "summary": "Retrieve all wallets for the user",
                "description": "This API is secured using session-based authentication. The session ID is extracted from the Cookie header to authenticate the user. The user's ID is obtained from the session stored in Redis, and all wallets associated with the user are fetched from the database. If successful, the list of wallets is returned; otherwise, an appropriate error response is returned.",
                "operationId": "getWallets",
                "responses": {
                    "500": {
                        "description": "Internal server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDTO"
                                },
                                "examples": {
                                    "Unexpected Server Error": {
                                        "description": "Unexpected Server Error",
                                        "value": {
                                            "errorCode": "internal_server_error",
                                            "errorMessage": "We are unable to process request now"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "Service unavailable",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDTO"
                                },
                                "examples": {
                                    "Database connection failure": {
                                        "description": "Database connection failure",
                                        "value": {
                                            "errorCode": "database_unavailable",
                                            "errorMessage": "Failed to connect to the database"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized access",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDTO"
                                },
                                "examples": {
                                    "User ID not found in session": {
                                        "description": "User ID not found in session",
                                        "value": {
                                            "errorCode": "unauthorized",
                                            "errorMessage": "User ID not found in session"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid Wallets fetching request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDTO"
                                },
                                "examples": {
                                    "Invalid User ID": {
                                        "description": "Invalid User ID",
                                        "value": {
                                            "errorCode": "invalid_request",
                                            "errorMessage": "User ID cannot be null or empty"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "423": {
                        "description": "Locked",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDTO"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "List of wallets retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/WalletDetailsResponseDto"
                                    }
                                },
                                "examples": {
                                    "Success response": {
                                        "description": "Success response",
                                        "value": [
                                            {
                                                "walletName": "My Personal Wallet1",
                                                "walletId": "123e4567-e89b-12d3-a456-426614174000",
                                                "walletStatus": null
                                            },
                                            {
                                                "walletName": "My Personal Wallet2",
                                                "walletId": "223e4567-e89b-12d3-a456-426614174001",
                                                "walletStatus": "temporarily_locked"
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "SessionAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Wallets"
                ],
                "summary": "Create a new wallet",
                "description": "This API is secured using session-based authentication. The session ID is extracted from the Cookie header and used to retrieve session details from Redis for authentication. The user ID is obtained from the session and used with the provided wallet name and PIN to create a new wallet in the database. If successful, a unique identifier for the wallet is returned; otherwise, an appropriate error response is provided.",
                "operationId": "createWallet",
                "requestBody": {
                    "description": "Wallet creation request containing the wallet name and PIN",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateWalletRequestDto"
                            },
                            "example": {
                                "walletName": "My Personal Wallet",
                                "walletPin": "123456"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "500": {
                        "description": "Internal server error while creating wallet",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDTO"
                                },
                                "examples": {
                                    "Unexpected Server Error": {
                                        "description": "Unexpected Server Error",
                                        "value": {
                                            "errorCode": "internal_server_error",
                                            "errorMessage": "We are unable to process request now"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "Service unavailable",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDTO"
                                },
                                "examples": {
                                    "Database connection failure": {
                                        "description": "Database connection failure",
                                        "value": {
                                            "errorCode": "database_unavailable",
                                            "errorMessage": "Failed to connect to the database"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized access",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDTO"
                                },
                                "examples": {
                                    "User ID not found in session": {
                                        "description": "User ID not found in session",
                                        "value": {
                                            "errorCode": "unauthorized",
                                            "errorMessage": "User ID not found in session"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid wallet creation request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDTO"
                                },
                                "examples": {
                                    "Invalid User ID": {
                                        "description": "Invalid User ID",
                                        "value": {
                                            "errorCode": "invalid_request",
                                            "errorMessage": "User ID cannot be null or empty"
                                        }
                                    },
                                    "Invalid Wallet name": {
                                        "description": "Invalid Wallet name",
                                        "value": {
                                            "errorCode": "invalid_request",
                                            "errorMessage": "Wallet name must be alphanumeric with allowed special characters"
                                        }
                                    },
                                    "Invalid Wallet Pin": {
                                        "description": "Invalid Wallet Pin",
                                        "value": {
                                            "errorCode": "invalid_request",
                                            "errorMessage": ""
                                        }
                                    },
                                    "Wallet Pin and confirm Pin Mismatch": {
                                        "description": "Wallet Pin and confirm Pin Mismatch",
                                        "value": {
                                            "errorCode": "invalid_request",
                                            "errorMessage": "Entered PIN and Confirm PIN do not match"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "423": {
                        "description": "Locked",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDTO"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "Wallet created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "string",
                                    "description": "Unique identifier of the Wallet stored in the database"
                                },
                                "examples": {
                                    "Success response": {
                                        "description": "Success response",
                                        "value": {
                                            "walletId": "d94a2e70-1234-4f2f-9eae-98765",
                                            "walletName": "My Wallet"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "SessionAuth": []
                    }
                ]
            }
        },
        "/wallets/{walletId}/unlock": {
            "post": {
                "tags": [
                    "Wallets"
                ],
                "summary": "Unlock an existing Wallet",
                "description": "This API is secured using session-based authentication. The session ID is extracted from the Cookie header to authenticate the user. The user's ID is obtained from the session, and the provided wallet ID and PIN are used to fetch the wallet key, which is stored in the session. If successful, the wallet ID is returned; otherwise, an appropriate error response is returned.",
                "operationId": "unlockWallet",
                "parameters": [
                    {
                        "name": "walletId",
                        "in": "path",
                        "description": "Unique identifier of the wallet to be unlocked",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UnlockWalletRequestDto"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "500": {
                        "description": "Internal server error - any error occurred while decrypting the Wallet key with Wallet PIN or when fetching Wallet details from the database",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDTO"
                                },
                                "examples": {
                                    "Unexpected Server Error": {
                                        "description": "Unexpected Server Error",
                                        "value": {
                                            "errorCode": "internal_server_error",
                                            "errorMessage": "We are unable to process request now"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "Service unavailable",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDTO"
                                },
                                "examples": {
                                    "Database connection failure": {
                                        "description": "Database connection failure",
                                        "value": {
                                            "errorCode": "database_unavailable",
                                            "errorMessage": "Failed to connect to the database"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized access",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDTO"
                                },
                                "examples": {
                                    "User ID not found in session": {
                                        "description": "User ID not found in session",
                                        "value": {
                                            "errorCode": "unauthorized",
                                            "errorMessage": "User ID not found in session"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid Wallet unlock request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDTO"
                                },
                                "examples": {
                                    "Wallet not found": {
                                        "description": "Wallet not found",
                                        "value": {
                                            "errorCode": "invalid_request",
                                            "errorMessage": "Wallet not found"
                                        }
                                    },
                                    "Invalid User ID": {
                                        "description": "Invalid User ID",
                                        "value": {
                                            "errorCode": "invalid_request",
                                            "errorMessage": "User ID cannot be null or empty"
                                        }
                                    },
                                    "Invalid Wallet Pin": {
                                        "description": "Invalid Wallet Pin",
                                        "value": {
                                            "errorCode": "invalid_request",
                                            "errorMessage": "PIN must be numeric with 6 digits"
                                        }
                                    },
                                    "Incorrect Wallet PIN": {
                                        "description": "Incorrect Wallet PIN",
                                        "value": {
                                            "errorCode": "invalid_pin",
                                            "errorMessage": "Invalid PIN or wallet key provided"
                                        }
                                    },
                                    "Only one attempt left to unlock Wallet before Permanent Lockout": {
                                        "description": "Only one attempt left to unlock Wallet before Permanent Lockout",
                                        "value": {
                                            "errorCode": "last_attempt_before_lockout",
                                            "errorMessage": "Incorrect passcode. Last attempt remaining before your Wallet is permanently locked"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "423": {
                        "description": "Wallet locked Temporarily or Permanently",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDTO"
                                },
                                "examples": {
                                    "Wallet is locked Temporarily": {
                                        "description": "Wallet is locked Temporarily",
                                        "value": {
                                            "errorCode": "temporarily_locked",
                                            "errorMessage": "You\u2019ve reached the maximum number of attempts. Your wallet is now temporarily locked"
                                        }
                                    },
                                    "Wallet is locked Permanently": {
                                        "description": "Wallet is locked Permanently",
                                        "value": {
                                            "errorCode": "permanently_locked",
                                            "errorMessage": "Your wallet has been permanently locked due to multiple failed attempts. Please click on forgot password to reset your wallet to continue"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "Wallet unlocked successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/WalletResponseDto"
                                },
                                "examples": {
                                    "Success response": {
                                        "description": "Success response",
                                        "value": {
                                            "walletId": "123e4567-e89b-12d3-a456-426614174000"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "SessionAuth": []
                    }
                ]
            }
        },
        "/wallets/{walletId}/trusted-verifiers": {
            "post": {
                "tags": [
                    "Wallet Trusted Verifiers"
                ],
                "summary": "Add a trusted verifier to a wallet",
                "description": "Adds a trusted verifier for the specified wallet after validating the session and request. Requires an active session; the path walletId must match the wallet in session. Returns the created verifier details on success.",
                "operationId": "addTrustedVerifier",
                "parameters": [
                    {
                        "name": "walletId",
                        "in": "path",
                        "description": "The unique identifier of the wallet.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Trusted verifier details to add to the wallet.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/TrustedVerifierRequest"
                            },
                            "examples": {
                                "Trusted Verifier Request": {
                                    "description": "Trusted Verifier Request",
                                    "value": {
                                        "verifierId": "mock-client"
                                    }
                                }
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "500": {
                        "description": "Internal server error.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDTO"
                                },
                                "examples": {
                                    "Unexpected Server Error": {
                                        "description": "Unexpected Server Error",
                                        "value": {
                                            "errorCode": "internal_server_error",
                                            "errorMessage": "Failed to add trusted verifier"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "Service Unavailable",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDTO"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized - session invalid or missing user.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDTO"
                                },
                                "examples": {
                                    "Unauthorized": {
                                        "description": "Unauthorized",
                                        "value": {
                                            "errorCode": "unauthorized",
                                            "errorMessage": "User ID not found in session"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid request or missing required parameters.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDTO"
                                },
                                "examples": {
                                    "Missing verifierId": {
                                        "description": "Missing verifierId",
                                        "value": {
                                            "errorCode": "invalid_request",
                                            "errorMessage": "Missing Input: verifierId is required"
                                        }
                                    },
                                    "Invalid Wallet ID": {
                                        "description": "Invalid Wallet ID",
                                        "value": {
                                            "errorCode": "invalid_request",
                                            "errorMessage": "Invalid Wallet ID. Session and request Wallet ID do not match"
                                        }
                                    },
                                    "Duplicate verifier": {
                                        "description": "Duplicate verifier",
                                        "value": {
                                            "errorCode": "duplicate_verifier",
                                            "errorMessage": "Verifier is already trusted for this wallet"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "423": {
                        "description": "Locked",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDTO"
                                }
                            }
                        }
                    },
                    "201": {
                        "description": "Trusted verifier created successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TrustedVerifierResponseDTO"
                                },
                                "examples": {
                                    "Success response": {
                                        "description": "Success response",
                                        "value": {
                                            "id": "2d598dfc-7218-cb7a7afd5a07"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "SessionAuth": []
                    }
                ]
            }
        },
        "/wallets/{walletId}/presentations": {
            "post": {
                "tags": [
                    "Wallet Presentations"
                ],
                "summary": "Processes Verifiable Presentation Authorization Request and provides details about the verifier and presentation.",
                "description": "This API is secured using session-based authentication. Upon receiving a request, the session is first retrieved using the session ID extracted from the Cookie header to authenticate the user. Once authenticated, the API processes the received Verifiable Presentation Authorization Request from the Verifier for a specific wallet. It validates the session, verifies the authenticity of the request, and checks if the Verifier is pre-registered and trusted by the wallet. If all validations pass, the API returns a response containing the presentation details; otherwise, an appropriate error response is returned.",
                "operationId": "processVPAuthorizationRequest",
                "parameters": [
                    {
                        "name": "walletId",
                        "in": "path",
                        "description": "The unique identifier of the Wallet.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Request body containing the Verifiable Presentation Authorization Request parameters.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/VPAuthorizationRequestDTO"
                            },
                            "examples": {
                                "Verifier Verifiable Presentation Authorization Request": {
                                    "description": "Verifier Verifiable Presentation Authorization Request",
                                    "value": {
                                        "authorizationRequestUrl": "client_id=mock-client&presentation_definition_uri=https%3A%2F%2Finji-verify.collab.mosip.net%2Fverifier%2Fpresentation_definition_uri&response_type=vp_token&response_mode=direct_post&nonce=NHgLcWlae745DpfJbUyfdg%253D%253D&response_uri=https%3A%2F%2Finji-verify.collab.mosip.net%2Fverifier%2Fvp-response&state=pcmxBfvdPEcjFObgt%252BLekA%253D%253D"
                                    }
                                }
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "500": {
                        "description": "Internal server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDTO"
                                },
                                "examples": {
                                    "Failed to fetch pre-registered trusted verifiers": {
                                        "description": "Failed to fetch pre-registered trusted verifiers",
                                        "value": {
                                            "errorCode": "RESIDENT-APP-026",
                                            "errorMessage": "Api not accessible failure"
                                        }
                                    },
                                    "Unexpected Server Error": {
                                        "description": "Unexpected Server Error",
                                        "value": {
                                            "errorCode": "internal_server_error",
                                            "errorMessage": "We are unable to process request now"
                                        }
                                    },
                                    "Invalid URI syntax": {
                                        "description": "Invalid URI syntax",
                                        "value": {
                                            "errorCode": "invalid_request",
                                            "errorMessage": "Incorrect URI parameters in the request"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "Service Unavailable",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDTO"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized user performing the Verifiable Presentation flow",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDTO"
                                },
                                "examples": {
                                    "User ID is not present in session": {
                                        "description": "User ID is not present in session",
                                        "value": {
                                            "errorCode": "unauthorized",
                                            "errorMessage": "User ID not found in session"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid request or missing required parameters.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDTO"
                                },
                                "examples": {
                                    "response_type is missing in Authorization request": {
                                        "description": "response_type is missing in Authorization request",
                                        "value": {
                                            "errorCode": "invalid_request",
                                            "errorMessage": "Missing Input: response_type param is required"
                                        }
                                    },
                                    "Invalid Wallet ID": {
                                        "description": "Invalid Wallet ID",
                                        "value": {
                                            "errorCode": "invalid_request",
                                            "errorMessage": "Invalid Wallet ID. Session and request Wallet ID do not match"
                                        }
                                    },
                                    "Wallet ID not found in session": {
                                        "description": "Wallet ID not found in session",
                                        "value": {
                                            "errorCode": "wallet_locked",
                                            "errorMessage": "Wallet is locked"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "423": {
                        "description": "Locked",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDTO"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "Successfully processed the Verifiable Presentation Authorization Request.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/VPResponseDTO"
                                },
                                "examples": {
                                    "Success response": {
                                        "description": "Success response",
                                        "value": {
                                            "presentationId": "123e4567-e89b-12d3-a456-426614174000",
                                            "verifier": {
                                                "id": "mock-client",
                                                "name": "Requester name",
                                                "logo": "https://api.collab.mosip.net/inji/verifier-logo.png",
                                                "isTrusted": true,
                                                "isPreregisteredWithWallet": true,
                                                "redirectUri": "https://injiverify.collab.mosip.net/redirect"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "SessionAuth": []
                    }
                ]
            }
        },
        "/wallets/{walletId}/credentials": {
            "get": {
                "tags": [
                    "Wallet Credentials"
                ],
                "summary": "Fetch all credentials for the given wallet",
                "description": "This API is secured using session-based authentication. When a request is made, the session ID is extracted from the Cookie header and used to fetch session details from Redis for authentication. It then retrieves the wallet key from the session and uses it to decrypt all stored Verifiable Credentials for the given wallet. If successful, it returns a list of credentials otherwise an appropriate error is returned.",
                "operationId": "fetchAllCredentialsForWallet",
                "parameters": [
                    {
                        "name": "walletId",
                        "in": "path",
                        "description": "Unique identifier of the user's wallet from where the credential will be fetched",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "Locale is used to determine the language in which credentials should be rendered. It follows 2 letter language code",
                        "required": false,
                        "schema": {
                            "pattern": "^[a-z]{2}$",
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "500": {
                        "description": "Internal server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDTO"
                                },
                                "examples": {
                                    "Unexpected Server Error": {
                                        "description": "Unexpected Server Error",
                                        "value": {
                                            "errorCode": "internal_server_error",
                                            "errorMessage": "We are unable to process request now"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "Service unavailable",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDTO"
                                },
                                "examples": {
                                    "Database connection failure": {
                                        "description": "Database connection failure",
                                        "value": {
                                            "errorCode": "database_unavailable",
                                            "errorMessage": "Failed to connect to the database"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDTO"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDTO"
                                },
                                "examples": {
                                    "Invalid Wallet Id": {
                                        "description": "Invalid Wallet Id",
                                        "value": {
                                            "errorCode": "invalid_request",
                                            "errorMessage": "Invalid Wallet ID. Session and request Wallet ID do not match"
                                        }
                                    },
                                    "Wallet ID not found in session": {
                                        "description": "Wallet ID not found in session",
                                        "value": {
                                            "errorCode": "wallet_locked",
                                            "errorMessage": "Wallet is locked"
                                        }
                                    },
                                    "Wallet key not found in session": {
                                        "description": "Wallet key not found in session",
                                        "value": {
                                            "errorCode": "invalid_request",
                                            "errorMessage": "Wallet key not found in session"
                                        }
                                    },
                                    "Invalid Accept-Language header": {
                                        "description": "Invalid Accept-Language header",
                                        "value": {
                                            "errorCode": "invalid_request",
                                            "errorMessage": "Locale must be a 2-letter code"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "423": {
                        "description": "Locked",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDTO"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "Credentials retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/VerifiableCredentialResponseDTO"
                                    }
                                },
                                "example": [
                                    {
                                        "issuer_name": "Mosip",
                                        "issuer_logo": "https://example.com/logo.png",
                                        "credential_type": "MosipVerifiableCredential",
                                        "credential_type_logo": "https://example.com/credential-logo.png",
                                        "credential_id": "1234567890"
                                    }
                                ]
                            }
                        }
                    }
                },
                "security": [
                    {
                        "SessionAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Wallet Credentials"
                ],
                "summary": "Download and store a Verifiable Credential under a specific Wallet",
                "description": "This API is secured using session-based authentication. Upon receiving a request, the session ID is extracted from the Cookie header and used to retrieve session details from Redis for authentication. It then retrieves the wallet key from the session and use it to decrypt the signing algorithm's secret key(which is used for signing the JWT in credential request) and encrypt the downloaded Verifiable Credential. If the process completes successfully, the credential is stored in the database and certain fields will be returned in the response. In case of any issues, an appropriate error response is returned.",
                "operationId": "downloadCredential",
                "parameters": [
                    {
                        "name": "walletId",
                        "in": "path",
                        "description": "Unique identifier of the wallet",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "The locale for the Verifiable Credential. It follows 2 letter language code",
                        "required": false,
                        "schema": {
                            "pattern": "^[a-z]{2}$",
                            "type": "string",
                            "default": "en"
                        }
                    },
                    {
                        "name": "state",
                        "in": "header",
                        "required": true,
                        "description": "OAuth state that identifies the DPoP session created by POST /issuers/{issuer-id}/authorize",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Request body with issuer, credentialConfigurationId, and authorization code.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/VerifiableCredentialRequestDTO"
                            },
                            "examples": {
                                "VerifiableCredentialRequest Example": {
                                    "description": "VerifiableCredentialRequest Example",
                                    "value": {
                                        "issuer": "issuerId",
                                        "credentialConfigurationId": "MockVerifiableCredential",
                                        "code": "authCode"
                                    }
                                }
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "500": {
                        "description": "Internal server error - error occurred while serializing the VC response, encrypting the credential, or storing it",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDTO"
                                },
                                "examples": {
                                    "Credential already exists": {
                                        "description": "Credential already exists",
                                        "value": {
                                            "errorCode": "credential_download_error",
                                            "errorMessage": "Duplicate credential for issuer and type"
                                        }
                                    },
                                    "Issuer config error": {
                                        "description": "Issuer config error",
                                        "value": {
                                            "errorCode": "credential_download_error",
                                            "errorMessage": "Unable to fetch issuer configuration"
                                        }
                                    },
                                    "Failed to generate VC request": {
                                        "description": "Failed to generate VC request",
                                        "value": {
                                            "errorCode": "credential_download_error",
                                            "errorMessage": "Unable to generate credential request"
                                        }
                                    },
                                    "Signature verification failed": {
                                        "description": "Signature verification failed",
                                        "value": {
                                            "errorCode": "internal_server_error",
                                            "errorMessage": "We are unable to process request now"
                                        }
                                    },
                                    "Unexpected server error": {
                                        "description": "Unexpected server error",
                                        "value": {
                                            "errorCode": "internal_server_error",
                                            "errorMessage": "We are unable to process request now"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "Service unavailable - error while fetching issuer or auth server well-known, downloading credential, or DB connection failure",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDTO"
                                },
                                "examples": {
                                    "API is not accessible": {
                                        "description": "API is not accessible",
                                        "value": {
                                            "errorCode": "credential_download_error",
                                            "errorMessage": "Failed to download and store the credential"
                                        }
                                    },
                                    "Failed to download credential": {
                                        "description": "Failed to download credential",
                                        "value": {
                                            "errorCode": "server_unavailable",
                                            "errorMessage": "Unable to download credential from issuer"
                                        }
                                    },
                                    "Database connection failure": {
                                        "description": "Database connection failure",
                                        "value": {
                                            "errorCode": "database_unavailable",
                                            "errorMessage": "Failed to connect to the database"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDTO"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request - Wallet key is null / blank or Wallet ID is null / blank / mismatch with session Wallet ID or required params are missing / invalid",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDTO"
                                },
                                "examples": {
                                    "Invalid header Accept-Language": {
                                        "description": "Invalid header Accept-Language",
                                        "value": {
                                            "errorCode": "invalid_request",
                                            "errorMessage": "Locale must be a 2-letter code"
                                        }
                                    },
                                    "Wallet ID is empty or blank": {
                                        "description": "Wallet ID is empty or blank",
                                        "value": {
                                            "errorCode": "invalid_request",
                                            "errorMessage": "Wallet ID cannot be blank"
                                        }
                                    },
                                    "Wallet ID not found in session": {
                                        "description": "Wallet ID not found in session",
                                        "value": {
                                            "errorCode": "wallet_locked",
                                            "errorMessage": "Wallet is locked"
                                        }
                                    },
                                    "Invalid Wallet ID": {
                                        "description": "Invalid Wallet ID",
                                        "value": {
                                            "errorCode": "invalid_request",
                                            "errorMessage": "Invalid Wallet ID. Session and request Wallet ID do not match"
                                        }
                                    },
                                    "Wallet key not found in session": {
                                        "description": "Wallet key not found in session",
                                        "value": {
                                            "errorCode": "invalid_request",
                                            "errorMessage": "Wallet key not found in session"
                                        }
                                    },
                                    "Invalid issuer": {
                                        "description": "Invalid issuer",
                                        "value": {
                                            "errorCode": "invalid_request",
                                            "errorMessage": "issuerId cannot be blank"
                                        }
                                    },
                                    "Invalid credentialConfigurationId": {
                                        "description": "Invalid credentialConfigurationId",
                                        "value": {
                                            "errorCode": "invalid_request",
                                            "errorMessage": "credentialConfigurationId cannot be blank"
                                        }
                                    },
                                    "Missing DPoP state": {
                                        "description": "Missing DPoP state",
                                        "value": {
                                            "errorCode": "invalid_request",
                                            "errorMessage": "state cannot be blank"
                                        }
                                    },
                                    "Missing authorization grant": {
                                        "description": "Missing authorization grant",
                                        "value": {
                                            "errorCode": "invalid_request",
                                            "errorMessage": "code cannot be blank"
                                        }
                                    },
                                    "Invalid code": {
                                        "description": "Invalid code",
                                        "value": {
                                            "errorCode": "invalid_request",
                                            "errorMessage": "Token exchange failed: invalid_grant"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "423": {
                        "description": "Locked",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDTO"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "Verifiable Credential downloaded and stored successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/VerifiableCredentialResponseDTO"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "SessionAuth": []
                    }
                ]
            }
        },
        "/wallet-binding": {
            "post": {
                "tags": [
                    "Wallet Binding"
                ],
                "summary": "Wallet Binding",
                "description": "This endpoint allow you to perform the wallet binding",
                "operationId": "request",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/WalletBindingRequestDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDTO"
                                }
                            }
                        }
                    },
                    "405": {
                        "description": "Method Not Allowed",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDTO"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDTO"
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "Service Unavailable",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDTO"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDTO"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDTO"
                                }
                            }
                        }
                    },
                    "423": {
                        "description": "Locked",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDTO"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseWrapperWalletBindingResponseDto"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/req/otp": {
            "post": {
                "tags": [
                    "Resident Service"
                ],
                "summary": "Request for OTP",
                "description": "This endpoint allow you to request OTP for credential download",
                "operationId": "otpRequest",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AppOTPRequestDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDTO"
                                }
                            }
                        }
                    },
                    "405": {
                        "description": "Method Not Allowed",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDTO"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDTO"
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "Service Unavailable",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDTO"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDTO"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDTO"
                                }
                            }
                        }
                    },
                    "423": {
                        "description": "Locked",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDTO"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseWrapperCredentialRequestResponseDTO"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/req/individualId/otp": {
            "post": {
                "tags": [
                    "Resident Service"
                ],
                "summary": "Request OTP for retrieving Individual Id",
                "description": "This endpoint allow you to request OTP to retrieve Individual Id",
                "operationId": "individualIdOtpRequest",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/IndividualIdOtpRequestDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDTO"
                                }
                            }
                        }
                    },
                    "405": {
                        "description": "Method Not Allowed",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDTO"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDTO"
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "Service Unavailable",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDTO"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDTO"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDTO"
                                }
                            }
                        }
                    },
                    "423": {
                        "description": "Locked",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDTO"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/OTPResponseDTO"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/get-token/{issuer}": {
            "post": {
                "tags": [
                    "Token"
                ],
                "summary": "Retrieve accessToken for OIDC flow",
                "description": "This endpoint allow you to retrieve the access token in exchange for authorization code",
                "operationId": "getToken",
                "parameters": [
                    {
                        "name": "arg0",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "issuer",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDTO"
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "Service Unavailable",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDTO"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDTO"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseWrapper"
                                }
                            }
                        }
                    },
                    "423": {
                        "description": "Locked",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDTO"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TokenResponseDTO"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v2/get-token/{issuer}": {
            "post": {
                "tags": [
                    "Token"
                ],
                "summary": "Retrieve accessToken for OIDC flow with DPoP support",
                "description": "This endpoint allows you to retrieve an access token in exchange for an authorization code and returns the authorization server response as-is. Optionally accepts a DPoP proof header and forwards DPoP-Nonce / WWW-Authenticate response headers to the client.",
                "operationId": "getTokenV2",
                "parameters": [
                    {
                        "name": "issuer",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "DPoP",
                        "in": "header",
                        "required": false,
                        "description": "DPoP proof JWT bound to the real authorization server token_endpoint (htu)",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "$ref": "#/components/schemas/GetTokenV2Request"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Token response from authorization server",
                        "headers": {
                            "DPoP-Nonce": {
                                "description": "DPoP nonce from the authorization server when present",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "WWW-Authenticate": {
                                "description": "Challenge from the authorization server when present",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TokenResponseDTO"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Authorization server error response returned as-is or invalid request detected by Mimoto",
                        "headers": {
                            "DPoP-Nonce": {
                                "description": "DPoP nonce when the AS returns use_dpop_nonce",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "WWW-Authenticate": {
                                "description": "AS challenge when present",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "example": {
                                        "error": "use_dpop_nonce",
                                        "error_description": "DPoP proof requires nonce"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Authorization server unauthorized response returned as-is",
                        "headers": {
                            "DPoP-Nonce": {
                                "description": "DPoP nonce when the AS returns use_dpop_nonce",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "WWW-Authenticate": {
                                "description": "AS challenge when present",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "example": {
                                        "error": "invalid_client",
                                        "error_description": "Client authentication failed"
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Mimoto error before receiving authorization server response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "example": {
                                        "error": "MIMOTO-XXX",
                                        "error_description": "Unable to fetch token"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/credentialshare/request": {
            "post": {
                "tags": [
                    "Credential Download through event or datashare"
                ],
                "summary": "request for credential issue",
                "description": "This endpoint allow you to request for credential issue",
                "operationId": "request_1",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AppCredentialRequestDTO"
                            }
                        }
                    }
                },
                "responses": {
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDTO"
                                }
                            }
                        }
                    },
                    "405": {
                        "description": "Method Not Allowed",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDTO"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDTO"
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "Service Unavailable",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDTO"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDTO"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDTO"
                                }
                            }
                        }
                    },
                    "423": {
                        "description": "Locked",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDTO"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CredentialRequestResponseDTO"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/credentialshare/download": {
            "post": {
                "tags": [
                    "Credential Download through event or datashare"
                ],
                "summary": "Download the credential using OTP Flow",
                "description": "This endpoint allow you to download credential issued",
                "operationId": "download",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CredentialDownloadRequestDTO"
                            }
                        }
                    }
                },
                "responses": {
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDTO"
                                }
                            }
                        }
                    },
                    "405": {
                        "description": "Method Not Allowed",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDTO"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDTO"
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "Service Unavailable",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDTO"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDTO"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDTO"
                                }
                            }
                        }
                    },
                    "423": {
                        "description": "Locked",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDTO"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CredentialDownloadResponseDTO"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/credentialshare/callback/notify/": {
            "post": {
                "tags": [
                    "Credential Download through event or datashare"
                ],
                "summary": "Notify through web sub once credential is downloaded",
                "description": "This endpoint allow web sub to callback once the credential is issued",
                "operationId": "handleSubscribeEvent",
                "requestBody": {
                    "description": "Credential share callback event payload delivered by the eventing system when the issuance workflow reaches a new state.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/EventModel"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "500": {
                        "description": "Internal server error - Processing credential share event failed",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDTO"
                                }
                            }
                        }
                    },
                    "405": {
                        "description": "Method Not Allowed",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDTO"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDTO"
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "Service Unavailable",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDTO"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDTO"
                                }
                            }
                        }
                    },
                    "400": {
[...]
